[2015-08-12 21:40] timm opened #4 "is this what was meant by "dagstuhl manifesto" or is this an intro cpahter"
https://github.com/ds4se/chapters/blob/master/menzies/dagstuhlManifesto.md

[2015-08-21 00:55] tzimmermsr commented on #4
I think that's better suited as an intro to the book (because it explains the why the book, etc.)

For the manifesto, I had in mind the contents of Section 3 of the Dagstuhl report. http://drops.dagstuhl.de/opus/volltexte/2014/4763/pdf/dagrep_v004_i006_p064_s14261.pdf

[2015-08-21 09:28] timm commented on #4
Ok... another chapter.. i can do that.

[2015-10-11 20:26] timm opened #11 "chapter to review"
this one has our names on it

https://github.com/ds4se/chapters/blob/master/menzies/inductiveManifesto.md

care to check it?

[2015-10-12 07:53] tomFr commented on #11
Hi Tim,

sorry to ask, but I'm not sure if this is a general question or if that was directed to me and if so, what exactly would want me to do.

Cheers,
  Thomas

On 11 Oct 2015, at 22:26, Tim Menzies <notifications@github.com> wrote:

[2015-10-12 10:02] minkull commented on #11
Hi Tim,

Same here!

Best,
Leandro

On 12 October 2015 at 08:53, tomFr notifications@github.com wrote:

##

Dr. Leandro L. Minku
Lecturer (Assistant Professor) in Computer Science
Department of Computer Science
University of Leicester, UK
http://www.cs.le.ac.uk/people/llm11 http://www.cs.bham.ac.uk/~minkull

[2015-10-16 05:45] timm opened #13 "Node GH rocks!"
Body with **Markdown** support

[2015-10-16 05:45] #13 closed, assigned to nobody

[2015-10-16 05:48] timm opened #14 "Node GH rocks!"
Body with **Markdown** support

[2015-10-16 05:52] timm opened #15 "$ch"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:52] timm opened #16 "$ch"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:52] timm opened #17 "$ch"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:52] timm opened #18 "$ch"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] #14 closed, assigned to nobody

[2015-10-16 05:53] #15 closed, assigned to nobody

[2015-10-16 05:53] #16 closed, assigned to nobody

[2015-10-16 05:53] #17 closed, assigned to nobody

[2015-10-16 05:53] #18 closed, assigned to nobody

[2015-10-16 05:53] timm opened #19 "./abramhindle/energymining.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #20 "./ajko/deployment-chapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #21 "./alexorso/are-we-helping-developers.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #22 "./alexorso/something-wrong-with-the-universe.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #23 "./andreas-zeller/appmining.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #24 "./andymeneely/actionable.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #25 "./andymeneely/security_gotchas.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #26 "./anikora/chapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #27 "./baishakhir/language-chapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #28 "./bener/ayse1.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #29 "./bmurphy/chapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #30 "./cabird/bias-chapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:53] timm opened #31 "./cabird/interviews.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #32 "./dspinellis/tools.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #33 "./dyba-bergersen-sjoberg/EMSE.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #34 "./dyba-bergersen-sjoberg/WhyYouShouldUseTheory.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #35 "./ermurph/survey-chapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #36 "./etbarr/naturalness.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #37 "./fayola21/goldilocks.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #38 "./menzies/CorrelationVsCausation.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #39 "./menzies/dagstuhlManifesto.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #40 "./menzies/inductiveManifesto.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #41 "./gmurphy/logitall.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #42 "./gousiosg/open-from-the-beginning.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #43 "./GunetherRuhe/RuheNayebi.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #44 "./hongyu/DemocratizingData.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #45 "./hongyu/SuccessStory.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #46 "./jacekczerwonka/code_reviews.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #47 "./jeffhuang/GameOfData.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #48 "./just_herzig/bug_report_gotchas.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #49 "./kim_herzig/test_data.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #50 "./mastorey/bigdataneedsthickdata.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #51 "./mdipenta/mdipenta-quant-qual.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #52 "./meinagappan/Diversity_in_SE_Research.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #53 "./meinagappan/miningmobileappstores.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #54 "./bramadams/releng.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #55 "./brusso/NeedsDataAnalysisPattern.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #56 "./budgen/eb-decision.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:54] timm opened #57 "./mikegodfrey/provenanceChapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #58 "./minkull/ensembles.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #59 "./minkull/learning-styles.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #60 "./minkull/readme.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #61 "./miryungkim/datascientists.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #62 "./mjshepperd/chapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #63 "./zimmermann/card-sorting.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #64 "./zimmermann/no-one-size-fits-all.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #65 "./obaysal/personalization-chapter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #66 "./oivo/bringData.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #67 "./pgbovine/PreppingData.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #68 "./prechelt/learn-from-failure.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #69 "./rotella/AdvancesReleaseReadiness.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #70 "./rrobbes/smallcompanies.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #71 "./rtholmes/summarizing-dynamic-data.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #72 "./ruhe/WhatCountsIsDecisionsNotNumbers.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #73 "./runeson/Plea4vis-v1.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #74 "./sback/summarizing-unstructured-data.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #75 "./siravegas/Challenges SE Experiments.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #76 "SE"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #77 "Experiments.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #78 "./stephan_diehl/visualization.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #79 "./tomFr/measuringProd.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #80 "./trevorcarnahan/Reducing Time to Insight.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #81 "Time"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:55] timm opened #82 "to"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #83 "Insight.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #84 "./turhanb/theGraph.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #85 "./venkatesh-prasad-ranganath/embraceDynamicArtifacts.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #86 "./venkatesh-prasad-ranganath/simpleExplanationsAreBetter.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #87 "./wagnerst/text-mining.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #88 "./weyuker-ostrand/prediction.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #89 "./whitehead/whitehead-from-data-to-theory.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #90 "./zhang-xie/SoftwareAnalyticsInPractice.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #91 "./muench/Chapter_Muench.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #92 "./natalia-juristo/Reproducible"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 05:56] timm opened #93 "results.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-10-16 06:10] #81 closed, assigned to nobody

[2015-10-16 06:10] #82 closed, assigned to nobody

[2015-10-16 06:10] #83 closed, assigned to nobody

[2015-10-16 06:11] #76 closed, assigned to nobody

[2015-10-16 06:11] #77 closed, assigned to nobody

[2015-10-16 06:21] #60 closed, assigned to nobody

[2015-10-16 14:45] timm opened #94 "./williams/TheisenWilliams.md"
Once reviewed by one person, please relabel to 2.ReviewTwo.

Once reviewed by a second person, please relabel to 3.EditorComments.

[2015-10-16 14:47] pruneson46 commented on #94
I am confused by the spamming. What am I expected to do and when?

/Per

---

Dr. Per Runeson, Professor in Software Engineering

Dept. of Computer Science
LUND UNIVERSITY                                                                                     per.runeson@cs.lth.se
Box 118                                                                                                  phone +46 46 222

[2015-10-16 15:37] #72 closed, assigned to nobody

[2015-10-16 15:38] timm commented on #94
dear pers,

we are using 2  free internet services (google groups and github) and they  seem to send notifications more often than donald trump changes his hair piece

right now, you have no review assignments. they are coming next week

so sorry for the spam... but as always, a pleasure to talk to you

t

p.s. also, please see my email from today on how to reduce email storms from google groups a

[2015-10-17 22:46] timm commented on #92
I am a fake review of Natalia's paper.

I am reviewing this paper on the criteria in the CFP:

[2015-10-17 22:48] timm commented on #92
I am a fake review of Natalia's paper.

I am reviewing this paper on the criteria in the CFP (work in progress here...)

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

<b>How would you categories the chapter: is it
1. SE-specific lessons (e.g. some  comments on issues that are specific to data science for software engineering)
2. Some gener

[2015-11-06 09:12] prechelt commented on #70
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

Software Analytics for Small Software Companies: More Questions than Answers

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/rrobbes/smallcompanies

[2015-11-06 10:01] prechelt commented on #84
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

Insights Trump Predictions!

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/turhanb/theGraph.md#insights-trump-predictions

## Message?

Helpful an

[2015-11-06 15:42] timm commented on #70
@prechelt : so if your comment that the paper could be adjusted to better suite (e.g.) the IT manager of a small company who might be thinking "i won't use analytics since my company is too small"?

[2015-11-06 17:01] prechelt commented on #70
@timm : No. The chapter talks mostly to researchers, but intelligent practitioners will be able to take home the message, too.
The question is: Does the book have only one audience (researchers or practitioners) in mind? Then which? Or both? Or are they intended to be one and the same? That, I think, does _not_ work.

[2015-11-06 19:21] timm commented on #70
well, i'm sure @tzimmermsr @lauriew have a view but mine is that the audience of the book is BROAD. where "BROAD" means the user community or  the manager community or the the developer community

[2015-11-07 07:54] jeffhuang commented on #44
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

Democratizing Data Analysis in Software Engineering

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/hongyu/DemocratizingData.md

## Message?

The a

[2015-11-07 07:58] jeffhuang opened #95 "Review"
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)
## Title of chapter

Democratizing Data Analysis in Software Engineering
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/hongyu/DemocratizingData.md
## Message?

The auth

[2015-11-07 08:15] jeffhuang opened #96 "Review"
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)
## Title of chapter

Code reviews are not for finding defects
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/jacekczerwonka/code_reviews.md
## Message?

Code reviews req

[2015-11-07 15:48] lauriew commented on #70
I agree … perhaps including a book that can be used in a seminar class of graduate students.

Laurei

---

Laurie Williams, PhD
North Carolina State University
Associate Department Head and Professor, Department of Computer Science
890 Oval Drive, Room 3272
Campus Box 8206
Raleigh, NC 27695-8206

http://collaboration.csc.ncsu.edu/laurie/

[2015-11-07 20:03] timm commented on #96
@jeffhuang thanks!

[2015-11-07 20:03] timm commented on #95
@jeffhuang thanks!

[2015-11-09 17:35] jaccz commented on #45
A great chapter. I read it with interest.
- It would be great to illustrate the incident management workflow with a graphic.
- Change "The technical details can be found elsewhere [4, 5]." to The technical details can be found in [4, 5].
- There are double spaces at the end of some sentences. Change to consistently use single space.
- "Security token rebuilt" is capitalized in one place. Change to

[2015-11-09 17:59] jaccz commented on #52
An important topic and a solid read. Could really use an editorial pass smoothing the language, making the text formatting consistent and fixing typos. I'm suggesting some of the necessary changes below.
- "evaluate the hypothesis" makes it sound like there is one specific hypothesis, Chnage to "evaluate hypotheses"?
- Use plural of hypothesis in the Introduction.
- "to study a hypothesis about di

[2015-11-09 19:01] cabird commented on #22
## Title of chapter

Software Analytics Under the Lamppost, or What To Do When Your Data Is Telling You There Is Something Wrong with the Universe

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/alexorso/something-wrong-with-the-universe.md

## Message?

_What is the chapter's  clear and approachable take away message?_

Research in data science ranges from the obvious, easy,

[2015-11-09 19:23] cabird commented on #55
## Title of chapter

The need for data analysis patterns
(in software engineering)

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/brusso/NeedsDataAnalysisPattern.md

## Message?

_What is the chapter's  clear and approachable take away message?
_written in one line or less__
Medicine and other fields of science uses patterns to conduct research and build knowledge in a valid

[2015-11-09 23:00] murphygc commented on #21
## Title of chapter

_Are we really helping developers?_

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/alexorso/are-we-helping-developers.md

## Message?

What is the chapter's  clear and approachable take away message?

_We can only determine if techniques intended to improve software development meet their intended goal(s) when we put the techniques and tools into the han

[2015-11-09 23:13] murphygc commented on #32
## Title of chapter

Tools! Tools! We need tools!

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/dspinellis/tools.md

## Message?

What is the chapter's  clear and approachable take away message?

_A variety of tools are needed to collect, synthesize and analyze data to apply data science techniques to software engineering problems._

## Accessible?

Is the chapters written

[2015-11-10 04:17] amyjko commented on #27
## Title of chapter

A Large Ecosystem Study to Understand the Effect of Programming Languages on Code Quality

## URL to the chapter

https://github.com/ds4se/chapters/blob/3d0def9cc5d06423c55a0e52d4e2636b9f53fa7d/baishakhir/language-chapter.md

## Message?

Choice of programming language is a small factor in defect density

OR

Designing ecosystem studies requires a careful attention to confound

[2015-11-10 04:31] amyjko commented on #33
## Title of chapter

Evidence-Based Software Engineering

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/dyba-bergersen-sjoberg/EMSE.md

## Message?

Software engineering decisions can be made from evidence.

## Accessible?
- In Table 1, say more what is meant by "estimate of effect"
- For practitioners, many of the study design concepts at the end of "Strength of evidence" w

[2015-11-11 03:26] timm commented on #33
thanks @andyjko  !

[2015-11-11 03:28] timm commented on #27
@andyjko : interesting proposed reorg. something for @baishakhir to think about

[2015-11-11 03:30] timm commented on #32
reference to Rutherford? indeed!

[2015-11-11 03:33] timm commented on #55
Perhaps we could ask the scikit learn people if we could reuse their figure?

http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

[2015-11-11 04:28] cabird commented on #55
Whoa. That is awesome!

Sent from Outlook Mobile

On Tue, Nov 10, 2015 at 7:33 PM -0800, "Tim Menzies" notifications@github.com wrote:

Perhaps we could ask the scikit learn people if we could reuse their figure?

http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

—
Reply to this email directly or view it on GitHub.

[2015-11-11 16:21] gousiosg commented on #49
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_Gotcha: Testing less without sacrificing code quality?_

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/kim_herzig/test_data.md

## Message?

What

[2015-11-11 16:56] minkull commented on #49
# Review template

## Title of chapter

Gotcha: Testing less without sacrificing code quality?

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/kim_herzig/test_data.md

## Message?

What is the chapter's  clear and approachable take away message?
_written in one line or less_

Assessing test cases based on the history of test results can help improving test efficiency and effe

[2015-11-11 17:00] minkull commented on #50
# Review template

## Title of chapter

Lies, Damned Lies and Analytics: Why Big Data Needs Thick Data

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/mastorey/bigdataneedsthickdata.md

## Message?

What is the chapter's  clear and approachable take away message?
_written in one line or less_

We need to be aware of what data we decide to use and the implications of the quest

[2015-11-11 17:00] brusso123 commented on #55
Definitely!
Would like me to approach them?

Il mercoledì 11 novembre 2015, Christian Bird notifications@github.com ha
scritto:

[2015-11-11 17:06] minkull commented on #64
# Review template

## Title of chapter

No "One Size Fits All"

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/zimmermann/no-one-size-fits-all.md

## Message?

What is the chapter's clear and approachable take away message?
_written in one line or less_

A general model that predicts defects well for all projects is unlikely to exist…

Additional message:
… and this is not a

[2015-11-13 07:39] brusso123 commented on #20
## Title of chapter

The world is your test suite

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/ajko/deployment-chapter.md

## Message?

_What is the chapter's clear and approachable take away message?_
Yes. “It is not enough to build it right… you need to build the right product! Validate it against the world!”

## Accessible?

_Is the chapters written for a generalist aud

[2015-11-15 04:30] timm commented on #50
hmmm... the chapter had better use thick, more thickly.

[2015-11-15 20:58] timm commented on #55
@brusso123 : please approach to ask. tell them that all proceeds from this book are going to charity. if you get a reply email, please post here so we have a record for the publishers.

[2015-11-17 01:00] brusso123 opened #97 "Review"
## Title of chapter

Are your Post-release Defects Post-al? (or: How the Release Process Impacts your Software Analytics)
## URL to the chapter

https://github.com/ds4se/chapters/blob/d657de724e433d8a67c15aa1af3bd7da9e25586a/bramadams/releng.md
## Message?

_What is the chapter's clear and approachable take away message?_
 “always consider the release process used by a software project, whichever

[2015-11-18 16:05] gousiosg commented on #92
## Title of chapter

_Importance of Repeatable Results: Once is not enough_

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/natalia-juristo/Reproducible%20results.md

## Message?

What is the chapter's  clear and approachable take away message?

_If we want reliable research results, we must replicate case studies/experiments._

## Accessible?

Is the chapters written for a g

[2015-11-18 20:47] audrism commented on #29
## Limitations and context of research

## https://github.com/ds4se/chapters/blob/master/bmurphy/chapter.md

## Message?

SE research is not relevant to SE practice

## Accessible?

The chapter is quite accessible, but could benefit from clarifying some assumptions specific to SE researchers.

## Size?

Chapter is of a  reasonable length, but could benefit form
- More specific examples, perhaps to

[2015-11-18 21:12] audrism commented on #37
## Becoming Goldilocks: Privacy and Data Sharing in “Just Right” Conditions

## https://github.com/ds4se/chapters/blob/master/fayola21/goldilocks.md

## Message?

There needs to be a balance between privacy and sharing: its complicated but there approaches to achieve it.

## Accessible?

The chapter is written in an accessible form, though many of the assumptions about challenges of privacy and sh

[2015-11-19 06:58] JimWhiteheadUCSC commented on #44
# Title of chapter

Democratizing Data Analysis in Software Engineering

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/hongyu/DemocratizingData.md

## Message?

Analysis of software data can be performed more easily using data visualizations with a direct manipulation and gestural interface that changes the underlying analysis.

## Accessible?

Yes, the chapter is written in

[2015-11-23 06:48] rvprasad opened #98 "./stephan_diehl/visualization.md"
## Title of chapter

_Visualizing data is important_
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/stephan_diehl/visualization.md
## Message?

_Visualization can serve as a verification lens during data analysis_
## Accessible?

Yes, the chapter is accessible to the general audience.

An image of decision trees and parallel coordinates can help emphasis "visualization techni

[2015-11-23 12:14] timm commented on #98
@rvprasad : like the new proposed title. candidate for discussion, for sure

[2015-11-23 14:38] barik commented on #78
## Title of chapter

Visualizing data is important, or Visualize often and double check

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/stephan_diehl/visualization.md

## Message?

Visualizing data is an integral part of the research process, and can be used in many different stages of the research process.

## Accessible?

The chapter has some jargon (though it's probably ob

[2015-11-23 14:39] barik commented on #78
The other review appears to have been made a separate issue, rather than a comment: Issue #98.

[2015-11-23 15:54] barik commented on #85
## Title of chapter

Embrace dynamic artifacts

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/venkatesh-prasad-ranganath/embraceDynamicArtifacts.md

## Message?

The message is that we should use dynamic (run-time) artifacts, such as execution logs and call stacks in our software engineering data science activities.

## Accessible?

I found the chapter to be quite accessible

[2015-11-23 16:43] barik commented on #40
## Title of chapter

Inductive Software Engineering: What we do IS Different

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/menzies/inductiveManifesto.md

## Message?

The article provides seven principles of inductive software engineering, which focuses on delivering data-mining based software applications to users.

## Accessible?

I found the language to be accessible. Th

[2015-11-24 06:00] rvprasad commented on #79
## Title of chapter

Measuring individual productivity

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/tomFr/measuringProd.md

## Message?

There is no easy way to measure individual productivity; even in software.

## Accessible?

Yes, the content is accessible to general audience.

## Size?

It is just about the right length.

All sections end with sentences that reinforce

[2015-11-24 07:03] rvprasad commented on #94
## Title of chapter

There’s Gold in Them Thar Stack Traces

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/williams/TheisenWilliams.md

## Message?

Stack traces can help approximate the attack surface.  [However, I am not sure if this was the intended message.]

## Accessible?

Yes, it is accessible.

## Size?

It is about the right length.

When I read the title, I thought

[2015-11-24 14:07] tomFr commented on #48
# Review template

## Title of chapter

Gotchas from Mining Bug Reports

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/just_herzig/bug_report_gotchas.md

## Message?

What is the chapter's  clear and approachable take away message?

Check your assumptions and clean your data from noise before mining bug reports.

## Accessible?

Is the chapters written for a generalist audie

[2015-11-24 14:09] tomFr commented on #91
# Review template

## Title of chapter

Learning lessons over lessons learnt: liftoff with continuous experimentation towards rapid value delivery

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/muench/Chapter_Muench.md

## Message?

What is the chapter's  clear and approachable take away message?

Continuous experimentation helps to develop a successful software product

##

[2015-11-26 16:05] obaysal commented on #67
# Review template

## Title of chapter

Practical tips for preparing your raw data for analysis

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/pgbovine/PreppingData.md

## Message?

What is the chapter's  clear and approachable take away message?

Invest your time in writing a robust parser to have your data ready for the analysis.

## Accessible?

Is the chapters written fo

[2015-11-26 16:07] obaysal commented on #66
# Review template

## Title of chapter

In god we trust, all others bring data – BIG DATA!

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/oivo/bringData.md

## Message?

What is the chapter's  clear and approachable take away message?

Data science is able to replace traditional assessments of software process improvement.

## Accessible?

Is the chapters written for a gener

[2015-11-28 17:35] trevorcarnahan commented on #44
Nit: references to Power BI being in preview should be updated given it is now GA.

[2015-11-28 19:33] trevorcarnahan opened #99 "./rotella/AdvancesReleaseReadiness.md"
## Title of chapter

_Advances in Release Readiness_
## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/rotella/AdvancesReleaseReadiness.md_
## Message?

_There are strong correlations in defect incoming/fix rates to field reliably that can be exploited for predictive release execution and planning, and have been at Cisco._
## Accessible?

_I enjoyed reading the chapter and appr

[2015-11-28 21:20] trevorcarnahan opened #100 "./zhang-xie/SoftwareAnalyticsInPractice.md"
## Title of chapter

_Software Analytics in Practice_
## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/zhang-xie/SoftwareAnalyticsInPractice.md_
## Message?

_Software Analytics can help eng. productivity, product quality, and user experience by producing actionable insights in practice._
## Accessible?

_Yes, the content was accessible to the generalist._
## Size?

_The chapt

[2015-11-29 22:09] timm commented on #44
See @jeffhuang   #44 for the other review

[2015-11-29 22:28] timm commented on #94
Given that this is the only stack trace paper in the book, perhaps a little more info on other trace usages would be appropraite

i like the the idea that reasoning over stack dump traces is SCALABLE. as we said in our ASA proposal:

![image](https://cloud.githubusercontent.com/assets/29195/11460654/8cc0c98e-96be-11e5-814d-01c46fbebf9e.png)

[2015-11-30 10:08] sdeal commented on #27
## Title of chapter

A Large Ecosystem Study to Understand the Effect of Programming Languages on Code Quality

## URL to the chapter

https://github.com/ds4se/chapters/blob/3d0def9cc5d06423c55a0e52d4e2636b9f53fa7d/baishakhir/language-chapter.md

## Message?

Sufficiently large software repositories (containing a large number of projects) can be used to compare different programming languages, in

[2015-11-30 12:34] sdeal commented on #35
## Title of chapter

Avoiding Survey Design Traps: A Successful Process for Sailing Past the Temptations of Persephone's Sirens

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/ermurph/survey-chapter.md

## Message?

Effort put into the design and testing of a survey will pay off. The authors propose to a six stage process including interviews and piloting.

## Accessible?

Th

[2015-11-30 15:25] wagnerst commented on #31
## Title of chapter

Interviews

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/cabird/interviews.md

## Message?

Interviews are a useful research method in software engineering.

## Accessible?

The anecdote is a nice start for the chapter. The text is easy to follow and captures in a compact way some nice best practices.
I didn't really get why quantitative analysis of int

[2015-11-30 16:12] wagnerst commented on #24
## Title of chapter

Actionable Metrics Are Better Metrics

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/andymeneely/actionable.md

## Message?

Metrics should be actionable!

## Accessible?
- Probably not really an accessibility issue, but I found the intro dialog a bit too unrealistic to be really funny.
- I'm not sure about the examples. I only have some control over _Nu

[2015-11-30 17:00] prechelt commented on #31
Stefan, you have attached the bias-chapter review to the interview chapter.

[2015-11-30 17:01] prechelt commented on #30
I suggest as the title "Don't embarrass yourself: Beware of bias in your data"

[2015-12-01 05:38] JimWhiteheadUCSC commented on #50
## Title of chapter

_Lies, Damned Lies and Analytics: Why Big Data Needs Thick Data_

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/mastorey/bigdataneedsthickdata.md

## Message?

The kinds of quantitative analysis supported by software analytics should be complemented by using qualitative methods (aka, "thick data") to develop a complete picture of software development act

[2015-12-01 07:42] wagnerst commented on #30
I wasn't assigned to this one but I made a review by mistake. Maybe it's helpful anyway...

## Title of chapter

Identifying and Assessing Bias

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/cabird/bias-chapter.md

## Message?

There's bias in software engineering data and you should account for that.

## Accessible?

I think the first sentence in the second paragraph in _Im

[2015-12-01 22:24] maleknaz commented on #64
## Title of chapter

No “One Size Fits All”

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/zimmermann/no-one-size-fits-all.md

## Message?

The defect prediction model that works for one project, would not work for all the others.

## Accessible?

Yes it is accessible.

As this essay has important message, it might be nice to somehow generalize it above defect prediction mod

[2015-12-01 22:29] maleknaz commented on #64
## Title of chapter

No “One Size Fits All”

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/zimmermann/no-one-size-fits-all.md

## Message?

The defect prediction model that works for one project, would not work for all the others.

## Accessible?

Yes it is accessible.

As this essay has important message, it might be nice to somehow generalize it above defect prediction mod

[2015-12-01 23:50] pgbovine commented on #99
## Title of chapter

Advances in Release Readiness

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/rotella/AdvancesReleaseReadiness.md

## Message?

What is the chapter's  clear and approachable take away message?

Developing simple yet effective metrics for release readiness is important for a software organization.

## Accessible?

This chapter feels a bit too technical and

[2015-12-02 00:10] pgbovine commented on #80
## Title of chapter

Reducing Time to Insight

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/trevorcarnahan/Reducing%20Time%20to%20Insight.md

## Message?

Making it faster to get insights from data should be a top priority in any organization that wants to be innovative.

## Accessible?

I think this chapter is very accessible.

My only suggestion for improvement is to brea

[2015-12-02 17:03] kimherzig commented on #47
## Title of chapter

_The Game of Data: Cohort Analysis Can Derive Signal from Noisy Data_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/jeffhuang/GameOfData.md_

## Message?

What is the chapter's clear and approachable take away message?

_Game data is quite a different story and that these data sets require different approaches, e.g. cohord analysis._

## Accessible?

I

[2015-12-02 18:06] kimherzig commented on #65
## Title of chapter

_A Tailored Suit: The Big Opportunity in Personalizing Issue Tracking_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/obaysal/personalization-chapter.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Bug tracking systems are too complex and too inflexible to suite the very different requirements of developers and their

[2015-12-02 22:28] abramhindle commented on #35
## Title of chapter

_Avoiding Survey Design Traps: A Successful Process for Sailing Past the Temptations of Persephone's Sirens_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/ermurph/survey-chapter.md_

## Message?

What is the chapter's  clear and approachable take away message?

_The chapter makes it clear that like software, survey design should be iterative._

## Acce

[2015-12-02 22:44] abramhindle commented on #26
## Title of chapter

_Practical Data Mining for More Effective Assurance_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/anikora/chapter.md_

## Message?

What is the chapter's  clear and approachable take away message?

_You should employ data-mining within software quality assurance._

## Accessible?

Is the chapters written for a generalist audience (no excessive use of

[2015-12-03 05:47] hongyujohn opened #101 "Reply to comments"
Thanks all for your useful comments! I will revise the chapter to incorporate them.
Some of the replies to major comments are as follows:

"It seems to me that a person using MetroEyes would still need a fair bit of technical knowledge in order to import data sources, then determine how they are visualized."
=> Our tool can import external data (such as Excel files or SQL database) automatically a

[2015-12-03 06:41] hongyujohn opened #102 "First review"
## Title of chapter

Perspectives on Data Science for Software Engineering
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/menzies/dagstuhlManifesto.md
## Message?

This is an introduction to this book.
## Accessible?

Yes, the chapter is written in an accessible manner, and is suitable for general audience.
## Size?

Yes
## Gotta Mantra?

Yes
## Best Points

Good desriptions

[2015-12-03 09:00] pruneson46 commented on #79
## Title of chapter

Measuring individual productivity

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/tomFr/measuringProd.md

## Message?

Be careful how you design your productivity measures.

## Accessible?

The chapter is accessible for a generalist. Thanks to the extensive use of examples from other domains (fitness and health) the text connects to everyday experiences.

[2015-12-03 10:01] pruneson46 commented on #89
## Title of chapter

From Software Data to Software Theory: The Path Less Traveled

## URL to the chapter

https://github.com/ds4se/chapters/blob/whitehead/whitehed-from-data-to-theory.md

## Message?

Software engineering researchers should derive theory (and data scientist in industry should support them)

## Accessible?

It is really a challenge to make this topic accessible to the generalist a

[2015-12-03 10:59] hongyujohn commented on #43
## Title of chapter

What Counts is Decisions, Not Numbers – Towards an Analytics Design Sheet

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/GunetherRuhe/RuheNayebi.md

## Message?

This chapter describes a high-level decision-making process for software products. The authors look at this process from the analytics perspective and define what can be provided at each step.

[2015-12-03 11:00] hongyujohn commented on #39
## Title of chapter

Perspectives on Data Science for Software Engineering

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/menzies/dagstuhlManifesto.md

## Message?

This is an introduction to this book.

## Accessible?

Yes, the chapter is written in an accessible manner, and is suitable for general audience.

## Size?

Yes

## Gotta Mantra?

Yes

## Best Points

Good desrip

[2015-12-03 11:01] #102 closed, assigned to nobody

[2015-12-03 11:03] hongyujohn commented on #44
Thanks all for your useful comments! I will revise the chapter to incorporate them.
Some of the replies to major comments are as follows:

"It seems to me that a person using MetroEyes would still need a fair bit of technical knowledge in order to import data sources, then determine how they are visualized."
=> Our tool can import external data (such as Excel files or SQL database) automatically a

[2015-12-03 11:03] #101 closed, assigned to nobody

[2015-12-03 12:46] dspinellis commented on #26
## Title of chapter

_Practical Data Mining for More Effective Assurance_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/anikora/chapter.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Data mining and in particular text mining techniques can help software assurance engineers classify anomalies and recognize trends._

## Accessible?

Is t

[2015-12-03 23:25] margaretstorey opened #103 "./mikegodfrey/provenanceChapter.md"

[2015-12-03 23:26] margaretstorey opened #104 "./obaysal/personalization-chapter.md"

[2015-12-03 23:39] margaretstorey commented on #104
## Title of chapter

_A Tailored Suit: The Big Opportunity in Personalizing Issue Tracking_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/obaysal/personalization-chapter.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Current issue tracking tools can be hard to use because they present too much information to developers, but they can be

[2015-12-04 00:15] margaretstorey commented on #103
## Title of chapter

_Why Provenance Matters_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/mikegodfrey/provenanceChapter.md_

## Message?

What is the chapter's  clear and approachable take away message?

_That not caring about provenance can lead to some serious issues, and that there are different techniques that can be used to determine provenance, but there are challe

[2015-12-04 00:27] margaretstorey commented on #50
Thank you to the reviewers for the useful and insightful feedback.

I made the following changes:

@minkull:
1. A better description of ethnography has been added.
2. I use the term "thick data" earlier in the paper as suggested.
3. I also introduce the word "lies" in the body of the paper (I agree it was too subtle).

@JimWhiteheadUCSC:
1. An example of qualitative data is now provided.
2. You di

[2015-12-04 16:29] #59 closed, assigned to nobody

[2015-12-04 16:31] nataliajuristo opened #105 "Minku's How You Learn Review"

[2015-12-04 16:32] nataliajuristo commented on #105
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

How You Learn [Data Models] Does Matter and There Are Many Ways You Can Do This

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/minkull/learning-st

[2015-12-04 16:34] nataliajuristo opened #106 "Gousios' Open from the beginning Review"
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)
## Title of chapter

Open from the beginning
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/gousiosg/open-from-the-beginning.md
## Message?

What is the chapter's  clear

[2015-12-04 18:45] kimherzig commented on #63
## Title of chapter

_Card-sorting: From Text To Themes_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/zimmermann/card-sorting.md _

## Message?

What is the chapter's  clear and approachable take away message?

_Why card sorting is a easy and powerful tool to extract themes from text or surveys and how to do it._

## Accessible?

Is the chapters written for a generalist a

[2015-12-05 10:04] sback commented on #35
## Title of chapter

Avoiding Survey Design Traps: A Successful Process for Sailing Past the
Temptations of Persephone's Sirens

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/ermurph/survey-chapter.md

## Message?

Designing surveys is not an easy task and should be done with care

## Accessible?

The chapter is definitely accessible. Nevertheless, this sometimes results in

[2015-12-05 10:45] sback commented on #25
## Title of chapter

Security Cannot Be Measured

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/andymeneely/security_gotchas.md

## Message?

The clear message of the paper is that there is currently no good metrics for
measuring the security of a software system (or even any system).

## Accessible?

The chapter is definitely accessible for a general audience.

## Size?

Pe

[2015-12-05 12:19] CaptainEmerson commented on #45
## Message?

Doing data analytics for services is hard, and here are some tools for doing it.

## Accessible?

The chapter uses good terminology, with good references for more reading. One way it might be made more accessible is to remove the acronyms. For instance, OCEs might first be introduced as "on-call engineers, or just 'engineers' for short in this chapter."

## Size?

The chapter is the r

[2015-12-05 12:19] CaptainEmerson commented on #45
@timm , I don't have permission to change labels. Please go ahead and change to EditorsComment.

[2015-12-05 12:59] CaptainEmerson commented on #51
- [ ] You're covering a lot of ground (interviews, surveys, etc) that are likely covered in other parts of the book. Consider referencing these when mentioning these concepts in passing, and focusing the chapter more or some specific lessons learned in your experience.
- [ ] "to clearly assess the performance of our new recommender system," This seemed to just come out of the blue. What's this cha

[2015-12-05 12:59] CaptainEmerson commented on #51
@timm , please switch to ReviewerTwo

[2015-12-06 03:25] andymeneely commented on #28
## Title of chapter

_A Success Story in Applying Data Science in Practice_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/bener/ayse1.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Data can help teams develop software better, but only if you understand your data._

## Accessible?

Is the chapters written for a generalist audience (no e

[2015-12-06 03:28] andymeneely opened #109 "./bener/bayesianNets.md"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

[2015-12-06 03:37] andymeneely commented on #109
## Title of chapter

_The Bayes Factor in Software Engineering Practice_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/bener/bayesianNets.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Bayesian networks are uniquely equipped to model causal relationships, which make them good choices for predicting SE data._

## Accessible?

Is the cha

[2015-12-06 03:43] andymeneely commented on #36
## Title of chapter

_The Naturalness of Software_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/etbarr/naturalness.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Source code has an emergent, predictable structure to it not unlike natural language. So techniques that analyze natural language can be used to understand software and assis

[2015-12-06 09:49] dongmeizhang commented on #37
## Title of chapter

_Becoming Goldilocks: Privacy and Data Sharing in “Just Right” Conditions_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/fayola21/goldilocks.md_

## Message?

_Privacy and data sharing are two important aspects in data science, and there are possible ways to achieve the balance._

## Accessible?

_Yes, the content is accessible to generalist._

## Size

[2015-12-06 12:00] dongmeizhang commented on #41
## Title of chapter

_Log It All (or "Why a Little Data Can be Harmful")_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/gmurphy/logitall.md_

## Message?

_It is important to collect more data from different perspectives in order not to avoid misinterpreting phenomenon in software engineering._

## Accessible?

_Yes, the content is accessible to generalist._

## Size?

_Th

[2015-12-06 13:58] hongyujohn commented on #53
## Title of chapter

Mobile App Store Analytics

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/meinagappan/miningmobileappstores.md

## Message?

This chapter introduces the recent work on mining data from mobile app stores, which is an interesting research topic. The mined data could help address relevant software engineering issues, such as better understanding of end user

[2015-12-06 17:37] GRuhe opened #110 "Identifying Fault-prone Files in Large Industrial Software Systems"
## URL to the chapter

_the markdown file. e.g. https://github.com/ds4se/chapters/blob/master/weyuker-ostrand/prediction.md_
## Message?

What is the chapter's  clear and approachable take away message?

_Accurate defect prediction IS possible_
## Accessible?

Is the chapters written for a generalist audience (no excessive use of technical terminology) with a minimum of diagrams and references?
Ho

[2015-12-06 17:58] GRuhe opened #111 "Challenges of Conducting Software Engineering Experiments: How to Stop Things Going Wrong"
## URL to the chapter

_the markdown file. e.g. https://github.com/ds4se/chapters/blob/master/siravegas/Challenges SE Experiments.md_
## Message?

What is the chapter's  clear and approachable take away message?

_”One size does not fit all” applies to SE experiments as well_
## Accessible?

Is the chapters written for a generalist audience (no excessive use of technical terminology) with a minimu

[2015-12-06 18:40] maleknaz commented on #92
## Title of chapter

Importance of Repeatable Results: Once is not enough

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/natalia-juristo/Reproducible%20results.md

## Message?

To form a phenomenon from results of empirical studies we need to replicate the studies.

## Accessible?

It is accessible.

## Size?

The chapter is on the right size.

While I like the ‘planet’ exam

[2015-12-06 19:21] meido commented on #48
## Title of chapter

Gotchas from Mining Bug Reports

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/just_herzig/bug_report_gotchas.md

## Message?

What assumptions do we make as researchers when mining bug reports for defect prediction and the impact of those assumptions.

## Accessible?

The chapter is accessible, with words that any Software Engineer would understand.

So

[2015-12-06 20:45] meido commented on #105
## Title of chapter

How You Learn [Data Models] Does Matter and There Are Many Ways You Can Do This

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/minkull/learning-styles.md

## Message?

Several different types of data are discussed and the ML algorithms that would best suit the needs are presented.

## Accessible?

Is the chapters written for a generalist audience (no exc

[2015-12-06 22:23] meido commented on #61
## Title of chapter

How Data Scientists can Effectively Impact Organizations

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/miryungkim/datascientists.md

## Message?

Each subsection touches upon a key thing to consider before investing time and money on a data science project.

## Accessible?

Yes. This is very accessible.

Small typo fixes:
- "The most accurate is to ask

[2015-12-06 23:16] emadshihab commented on #61
## Title of chapter

How Data Scientists can Effectively Impact Organizations

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/miryungkim/datascientists.md

## Message?

The chapter provides a practitioners perspective of the issues data scientists need to consider to make positive practical impacts.

## Accessible?

The chapter is certainly accessible to a general audience. I

[2015-12-06 23:51] emadshihab commented on #46
## Title of chapter

Code reviews are not for finding defects - even established tools need occasional evaluation

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/jacekczerwonka/code_reviews.md

## Message?

That code reviews may not achieve what they were intended for, hence we need to re-evaluate our tools/assumptions sometimes.

## Accessible?

The chapter is general enough

[2015-12-07 04:45] baishakhir commented on #21
## Title of chapter

Are we really helping developers?

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/alexorso/are-we-helping-developers.md

## Message?

No matter how popular a research sub-field in software engineering becomes, it should be evaluated with users/developers to investigate whether the proposed approaches are really helping them.

## Accessible?

Overall, the

[2015-12-07 06:18] fayola21 commented on #62
## Title of chapter

Go back and do it again

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/mjshepperd/chapter.md

## Message?

There is a need to replicate results in empirical software engineering because relying on results of a single study is risky.

## Accessible?

Most of the chapter is accessible. The first paragraph is clear however can be enhanced with an example. T

[2015-12-07 06:31] fayola21 commented on #47
## Title of chapter

The Game of Data: Cohort Analysis Can Derive Signal from Noisy Data.

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/jeffhuang/GameOfData.md

## Message?

When dealing with data such as Gameplay data, cohort analysis is the way to go to find the signal in the noise.

## Accessible?

Yes, content is accessible.

## Size?
- Length is good.
- Need an explana

[2015-12-07 10:38] mdipenta commented on #36
## Title of chapter

_The Naturalness of Software_

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/etbarr/naturalness.md

## Message?

What is the chapter's  clear and approachable take away message?

_This chapter discusses to what extent code has the repetitive characteristics of spoken languages,  whether and how we can exploit this to help developers_

## Accessible?

Is

[2015-12-07 11:19] mdipenta commented on #28
## Title of chapter

_A Success Story in Applying Data Science in Practice_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/bener/ayse1.md_

## Message?

What is the chapter's  clear and approachable take away message?

_The chapter reports the experience of the authors in applying data analysis in their long term collaboration with a software development company_

## Access

[2015-12-07 11:33] siravegas opened #112 "Reducing Time to Insight (T. Carnahan)"
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)
## Title of chapter

_Reducing Time to Insight_
## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/trevorcarnahan/Reducing%20Time%20to%20Insight.md_
## Message?

What is th

[2015-12-07 12:18] siravegas opened #113 "Software Analytics in Practice (Zhang & Xie)"
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)
## Title of chapter

_Software Analytics in Practice._
## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/zhang-xie/SoftwareAnalyticsInPractice.md_
## Message?

What is the

[2015-12-07 15:43] rrobbes commented on #87
## Title of chapter

Natural Language Processing is no free lunch either

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/wagnerst/text-mining.md

## Message?

_What is the chapter's  clear and approachable take away message?_

Natural language processing, while appealing, will not yield satisfying results unless specific steps are followed.

## Accessible?
- Is the chapters w

[2015-12-07 16:20] dspinellis commented on #34
## Title of chapter

_Why Theory Matters_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/dyba-bergersen-sjoberg/WhyYouShouldUseTheory.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Software engineering theories are important and approachable_

_Longer version: Software engineering theories allows us to predict, explain, understand, and

[2015-12-07 17:58] rrobbes commented on #74
## Title of chapter

Summarizing Unstructured Data

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/sback/summarizing-unstructured-data.md

## Message?

_What is the chapter's  clear and approachable take away message?_

Unstructured data (e.g. emails with a mix of natural language and code) is a useful source of information, although it is noisy. Fortunately, simple technique

[2015-12-07 20:03] migod commented on #63
Title of chapter

Card-sorting: From Text To Themes

URL to the chapter

https://github.com/ds4se/chapters/blob/master/zimmermann/card-sorting.md

Message?

Card sorting is a useful, simple, and low-tech way to categorize plain text data and recognize emerging themes.

Accessible?

Overall, it is very accessible.

Size?

Maybe add another paragraph or so to the analysis phase section, since this i

[2015-12-07 20:25] juergenlive opened #114 "Review 2"
## Title of chapter

Don't embarrass yourself: Beware of bias in your data
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/cabird/bias-chapter.md
## Message?

There are actionable ways to avoid the use of biased data

_written in one line or less_
## Accessible?

The first section is easy to understand and motivates the problem well. However, the whole example
(starting with "

[2015-12-07 20:27] juergenlive commented on #30
## Title of chapter

Don't embarrass yourself: Beware of bias in your data

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/cabird/bias-chapter.md

## Message?

There are actionable ways to avoid the use of biased data

_written in one line or less_

## Accessible?

The first section is easy to understand and motivates the problem well. However, the whole example
(starting wit

[2015-12-07 20:29] juergenlive commented on #23
## Title of chapter

Mining Apps for Anomalities

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/andreas-zeller/appmining.md

## Message?

App mining helps to detect if an app will show normal or abnormal behavior.

## Accessible?

Is the chapters written for a generalist audience (no excessive use of technical terminology) with a minimum of diagrams and references?
How can i

[2015-12-07 20:29] migod commented on #62
Title of chapter

Go back and do it again

URL to the chapter

https://github.com/ds4se/chapters/blob/master/mjshepperd/chapter.md

Message?

We need more replication studies in software engineering

Accessible?

This seems to be aimed more at experienced SE researchers than a general software engineering audience.  I worry a bit that some of the terminology at the beginning (type I vs II errors,

[2015-12-07 20:47] bramadams commented on #23
## Title of chapter

Mining Apps for Anomalies

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/andreas-zeller/appmining.md

## Message?

The chapter explains the need for and basic concepts of mobile app store mining, followed by an application to the identification of malicious app behaviour.

## Accessible?

The chapter is very accessible, providing easy to understand examp

[2015-12-07 22:26] bramadams commented on #31
## Title of chapter

Interviews

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/cabird/interviews.md

## Message?

The chapter motivates and explains the workflow of Chris and his colleagues for planning, executing and analyzing interviews with software engineering professionals.

## Accessible?

The chapter is very accessible, and explains in an easy-to-follow way how an SE

[2015-12-07 23:18] cabird commented on #31
Thanks for taking the time to read through such a long chapter.  I appreciate your advice and help about where and what to cut.  That will help me immensely in getting it down to a reasonable size.

Bram, question for you.  Do you think the workflow diagram has value or do you agree that it contains obvious stuff?

I was thinking for the title, "Going Straight to the Source: Interviewing in SE Res

[2015-12-08 00:22] bramadams commented on #31
The text itself is quite easy to follow without diagram, so it could be left out.

That said, I think Stefan is referring to the actual workflow in the text. On the one hand, he's right that many books, blogs, ... have considered the topic of interviews. However, most I've seen are very theoretical and heavyweight in nature (similar to how card sorting relates to official grounded theory), and do

[2015-12-08 04:22] baishakhir commented on #56
## Title of chapter

Evidence-Based Decision Making

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/budgen/eb-decision.md

## Message?

Even if the initial data indicates the presence of some phenomena, authors argue that it is important to gather other evidence through repeated experiments, unbiased questionings, etc.  before reaching a conclusion.

## Accessible?

Is the ch

[2015-12-08 07:55] tzimmermsr commented on #58
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).
_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

The Wisdom of the Crowds in Software Engineering Predictive Modelling

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/minkull/ensembles.md

## Messa

[2015-12-08 08:23] tzimmermsr commented on #103
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).
_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_Why Provenance Matters_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/mikegodfrey/provenanceChapter.md _

## Message?

What is the chapter's  cl

[2015-12-08 08:26] tzimmermsr commented on #57
Closing as duplicate of #103

[2015-12-08 08:26] #57 closed, assigned to nobody

[2015-12-08 09:25] tzimmermsr commented on #51
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).
_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_Combining Quantitative and Qualitative Methods (in Mining Software Repositories Research)_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/mdipent

[2015-12-08 10:43] arkival opened #115 "Review ./abramhindle/energymining.md"
## Title of chapter

_The Perils of Energy Mining: Measure a Bunch, Compare just Once_
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/abramhindle/energymining.md
## Message?

Energy mining presents a unique set of confounds that require careful consideration in SE research.
## Accessible?

Generally yes. There are a few references to HTTPx, but I think that this is ok given t

[2015-12-08 10:44] arkival opened #116 "Review ./bener/bayesianNets.md"
## Title of chapter

_The Bayes Factor in Software Engineering Practice_
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/bener/bayesianNets.md
## Message?

Bayes Networks are able to model causal relationships which could be useful in software engineering research.
## Accessible?

In general yes. Perhaps an example of causality may help to elucidate the chapter.
## Size?

The

[2015-12-08 15:15] prechelt commented on #63
"affinity diagrams" (near the end) should have a reference.

[2015-12-08 15:26] prechelt commented on #31
2 cents:
- we have few figures overall in the book, so I suggest to leave this one in for its sheer color
- "You can find examples of high quality research papers that report on interviews from Emerson Murphy-Hill, Carolyn Seaman". Maybe I can, but better still would be getting a reference from you.

[2015-12-08 18:59] tzimmermsr commented on #71
Adding Pete Rotella's Review.

## Title of chapter

_Summarizing Dynamic Data_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/rtholmes/summarizing-dynamic-data.md_

## Message?

What is the chapter's  clear and approachable take away message?

_State transition diagrams can quickly yield useful information in temporal data.  Bikeshedding is normal and tempting, but the next

[2015-12-08 19:02] tzimmermsr commented on #85
Adding Pete Rotella's review.

## Title of chapter

_Embrace Dynamic Artifacts_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/venkatesh-prasad-ranganath/embraceDynamicArtifacts.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Static artifacts, such as bug reports, version history, etc., are very commonly used for data science work in sof

[2015-12-08 19:18] cabird commented on #56
## Title of chapter

Evidence-Based Decision Making

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/budgen/eb-decision.md

## Message?

What is the chapter's  clear and approachable take away message?
Decisions should be made on evidence and systematic reviews are a way of gathering such evidence.

## Accessible?

Is the chapters written for a generalist audience (no excessiv

[2015-12-12 21:54] abramhindle commented on #33
## Title of chapter

_Evidence-Based Software Engineering_

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/dyba-bergersen-sjoberg/EMSE.md

## Message?

What is the chapter's  clear and approachable take away message?

_Rank evidence by usefulness, lead your project with feedback._

## Accessible?

Is the chapters written for a generalist audience (no excessive use of technica

[2015-12-12 22:00] abramhindle commented on #19
Daryl Posnett reviewed this chapter in issue: https://github.com/ds4se/chapters/issues/115

[2015-12-12 22:02] abramhindle commented on #109
Daryl Posnett reviewed this in this issue: https://github.com/ds4se/chapters/issues/116

[2015-12-13 11:13] maoivo commented on #75
## Title of chapter

Challenges of Conducting Software Engineering Experiments: How to Stop Things Going Wrong

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/siravegas/Challenges%20SE%20Experiments.md

## Message?

SW engineering experiments are useful but we need carefully planned discipline specific practices (tools) to run them.

## Accessible?

The chapter is accessible

[2015-12-13 17:13] timm commented on #25
review from david budgen:

## Title: Securing Cannot be Measured

## URL

 https://github.com/ds4se/chapters/blob/master/andymeneely/security_gotchas.md

## Message

Measurement and assessment of system security is not simply a matter of applying a set of ‘rules’.

## Accessible

I found this chapter very accessible and readable and I enjoyed reading it.  In particular, I liked the idea of present

[2015-12-13 17:16] timm commented on #34
Review from David Budgen

## Title: Why Theory Matters

## URL:

 https://github.com/ds4se/chapters/blob/master/dyba-bergersen-sjoberg/WhyYouShouldUseTheory.md

## Message

Data collection for research and analysis needs to be undertaken with and for a purpose, and this purpose should be driven by a theoretical model.

## Accessible

I’m completely on board with the message of this chapter, and i

[2015-12-13 17:29] timm commented on #58
review from martin shepperd

# Martin Shepperd Review

## Title of chapter

The Wisdom of the Crowds in Software Engineering Predictive Modelling - Leandro L. Minku

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/minkull/ensembles.md

## Message?

It's often more effective to combine multiple learners to make better predictions.

## Accessible?

Generally the chapter is reada

[2015-12-13 17:37] timm commented on #52
Review from martin shepperd

# Martin Shepperd Review

## Title of chapter

Diversity in Software Engineering Research

## URL to the chapter

https://github.com/ds4se/chapters/meinagappan/Diversity_in_SE_Research.md

## Message?

Empirical researchers need to think carefully about how choose samples of projects to investigate.

## Accessible?

The chapter isn't particularly technically demanding

[2015-12-13 18:01] timm commented on #74
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_Summarizing Unstructured Data_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/sback/summarizing-unstructured-data.md _

## Message?

What is the

[2015-12-13 18:05] nenadmedvidovic opened #117 "Review for Mining Mobile App Stores"
This was a fun chapter to read, but it suffers from three minor-to-moderate problems that, if addressed, would improve the chapter in my view.
1. MODERATE: The chapter is descriptive and clear in the treatment of the problem but does not contain actionable advice.  What can I, either as a developer or user of mobile apps, do (better) as a result of the described mining exercise and subsequent anal

[2015-12-13 18:08] timm commented on #117
this review has been copied into #53

[2015-12-13 18:08] timm commented on #53
From Nenad:

This was a fun chapter to read, but it suffers from three minor-to-moderate problems that, if addressed, would improve the chapter in my view.

MODERATE: The chapter is descriptive and clear in the treatment of the problem but does not contain actionable advice. What can I, either as a developer or user of mobile apps, do (better) as a result of the described mining exercise and subse

[2015-12-13 18:16] timm commented on #86
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_While models are good, simple explanations are better_

## URL to the chapter

_the markdown file.  _

https://github.com/ds4se/chapters/blob/master/venkatesh-prasad-ra

[2015-12-13 18:21] maoivo commented on #88
## Title of chapter

Identifying Fault-prone Files in Large Industrial Software Systems

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/weyuker-ostrand/prediction.md

## Message?

This is a story about how the authors developed methods and tool for fault prediction over several years of research with large industrial software systems.

## Accessible?

The story is very easy t

[2015-12-13 18:22] timm commented on #87
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_Natural language processing is no free lunch either_

## URL to the chapter

_the markdown file._

https://github.com/ds4se/chapters/blob/master/wagnerst/text-mining.md

[2015-12-14 19:16] tostrand opened #118 "Review of MERE NUMBERS AREN'T ENOUGH: A PLEA FOR VISUALIZATION"
MERE NUMBERS AREN'T ENOUGH: A PLEA FOR VISUALIZATION

Very nice concept, I'm in complete agreement on the value of visualizing data, when it's done well.  The two examples are classic software engineering tasks that can be helped by appropriate visualization of relevant data.

The presentation in the article needs some improvement.

FEATURE SCOPING

"scope out" sounds strange (to my American ear).

[2015-12-15 06:15] kimherzig commented on #49
Thanks for all the great feedback. I will revise and improve the chapter accordingly.

[2015-12-15 06:15] kimherzig commented on #48
Thanks for your comments and feedback. We will update the chapter accordingly. Thanks

[2015-12-15 16:53] tostrand commented on #73
## Title of chapter

MERE NUMBERS AREN'T ENOUGH: A PLEA FOR VISUALIZATION

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/runeson/Plea4vis-v1.md

## Message?

Graphical visualization of data pertaining to software projects is an essential method for providing insight and understanding of the status of a project.

## Accessible?

Yes, the chapter is accessible. It's a nice con

[2015-12-15 22:14] tostrand commented on #94
## Title of chapter

There’s Gold in Them Thar Stack Traces

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/williams/TheisenWilliams.md

## Message?

The chapter seems to promote two distinct messages:
1. stack traces are useful for finding faults in code
2. stack traces can help to find the attack surface(s) of a system

The first paragraph describes how stack traces are use

[2015-12-17 03:59] alexorso opened #119 "Ignore -- review entered as a comment of issue #67."
See #67

[2015-12-17 04:17] alexorso commented on #67
# Review

## Title of chapter

Practical tips for preparing your raw data for analysis

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/pgbovine/PreppingData.md

## Message?

What is the chapter's  clear and approachable take away message?

There are many tips and tricks that can make the parsing and cleanup of raw data more efficient and effective.

## Accessible?

Is the cha

[2015-12-17 04:21] #119 closed, assigned to nobody

[2015-12-17 06:21] alexorso commented on #68
# Review

## Title of chapter

The White-Shirt Effect, or: Learning from Expectations that Failed

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/prechelt/learn-from-failure.md

## Message?

What is the chapter's  clear and approachable take away message?

I see two:
- Learn something when your hypotheses are not confirmed by the data.
- Think about your hypotheses before inv

[2015-12-17 14:36] taoxiease commented on #84
# Review template

## Title of chapter

Insights Trump Predictions!

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/turhanb/theGraph.md

## Message?

After unsuccessful adoption of the initial software analytics tool focusing on predicting fault prone code sections, the authors developed a visualization of the issue reports.

## Accessible?

Good.

## Size?

The authors state

[2015-12-17 15:27] taoxiease commented on #38
# Review template

## Title of chapter

Correlation is not Causation (or, when not to scream "Eureka!")

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/menzies/CorrelationVsCausation.md

## Message?

Correlation is not causation.

## Accessible?

Yes

## Size?

In the last paragraph, the author suggests the following "And while you wait, critically and carefully review how yo

[2015-12-18 14:49] Zhitao commented on #66
# Review template

## Title of chapter

In god we trust, all others bring data – BIG DATA!

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/oivo/bringData.md

## Message?

What is the chapter's  clear and approachable take away message?

Traditional SPI can be improved by using data science and data analytics.

## Accessible?

Is the chapters written for a generalist audience

[2015-12-18 16:23] andreas-zeller opened #120 "Review of "Summarizing Dynamic Data" by Andreas Zeller"
## Title of chapter

Summarizing Dynamic Data
## URL to the chapter

https://github.com/ds4se/chapters/blob/master/rtholmes/summarizing-dynamic-data.md
## Message?

What is the chapter's  clear and approachable take away message?

_To summarize dynamic data, consider state transitions_
## Accessible?

Is the chapters written for a generalist audience (no excessive use of technical terminology) wit

[2015-12-18 16:37] andreas-zeller opened #121 "Review of "Inductive Software Engineering: What we do IS Different""
## Title of chapter

_ Inductive Software Engineering: What we do IS Different_
## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/menzies/inductiveManifesto.md_
## Message?

What is the chapter's  clear and approachable take away message?

_Read the inductive software engineering manifesto (or don't, now that you have the summary)_
## Accessible?

Is the chapters written for a

[2015-12-18 19:22] devanbu commented on #73
## Title of chapter

MERE NUMBERS AREN'T ENOUGH: A PLEA FOR VISUALIZATION

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/runeson/Plea4vis-v1.md

## Message?

The author is making a case that visualization adds value beyond quantitative and qualitative analysis.

## Accessible?

Generally, Yes, although the specifics are hard to follow.

The two visualizations presented are b

[2015-12-18 19:45] devanbu commented on #86
## Title of chapter

While models are good, simple explanations are better

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/venkatesh-prasad-ranganath/simpleExplanationsAreBetter.md

## Message?

Models can be accurate/pertinent summaries of available data; but the model's message must be operationalized to be useful to developers.

## Accessible?

The work is definitely under

[2015-12-18 20:23] miryung commented on #39
## Title of chapter

Perspectives on Data Science for Software Engineering

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/menzies/dagstuhlManifesto.md

## Message?

The chapter motivates the book based on a dagstuhl workshop.   I was a bit confused with the first sentence, "That workshop documented the range of work on software analytics, with the following premise: So littl

[2015-12-18 20:42] miryung opened #122 "Review of ./muench/Chapter_Muench.md"
## Best Points

The chapter provides a good overview of the book and why compiling a book on data science in software context is important.  If this chapter is to serve the overview of the entire book, I hope it includes a table of content.
## Title of chapter

Learning Lessons over Lessons Learnt: Liftoff with Continuous Experimentation Towards Rapid Value Delivery
## URL to the chapter

https://

[2015-12-20 18:02] timm commented on #46
from jeff huang:

# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

Code reviews are not for finding defects

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/jacekczerwonka/code_reviews.md

## Messa

[2015-12-20 22:00] timm commented on #43
need a better  reference for [6]
- could not find a definitive document defending "ust about 20% of the features implemented in a software product are often or always used, while 64% of the features get rarely or never used [6]. This means that substantial development effort is wasted. But even worse: it means that maintenance cost of the product (constituting the majority of the total product eff

[2015-12-20 22:05] timm commented on #43
This proposal sounds.. familiar. E.g.
- balanced score cards http://balancedscorecard.org/Resources/About-the-Balanced-Scorecard),
- house of quality,
- design rationale
  - see chapters in http://www.amazon.com/Design-Rationale-Techniques-Computers-Cognition/dp/080581566X
  - http://rationale.csail.mit.edu/;
  - see list of systems in http://web.cs.wpi.edu/Research/aidg/DR-Rpt98.html

So maybe a

[2015-12-20 22:30] timm commented on #47
Optionally, please consider flipping the first two sections. i.e. start with "Why Cohort Analysis is a Powerful Tool for Gameplay Data" then use your current fist section as "An Example".

[2015-12-20 22:35] timm commented on #48
Consider the first paras of "What is a bug? A matter of perspective." and "The impact of tangled changes.". They are somewhat dense. Would the text be more approachable if they were broken up into N paras?

[2015-12-20 22:47] timm commented on #49
would a better title: "A Little Less Testing: or How to Avoid Wasting Time on Unproductive Tests"

Also, i challenge you to consider the overall flow, how to sharpen and bring the main message to the audience, sooner.

[2015-12-21 16:24] barr opened #123 "Review of "Open from the Beginning" by Earl Barr"
# Review
## Title of chapter

Open from the Beginning
## URL to the chapter

[https://github.com/ds4se/chapters/tree/master/gousiosg/open-from-the-beginning.md](https://github.com/ds4se/chapters/tree/master/gousiosg/open-from-the-beginning.md)
## Message?

_What is the chapter's  clear and approachable take away message?_

Just like research papers, data and tooling should be open from the beginni

[2015-12-21 16:30] barr opened #124 "Review of " What Counts is Decisions, Not Numbers – Towards an Analytics Design Sheet" by Earl Barr"
# Review
## Title of chapter

What Counts is Decisions, Not Numbers – Towards an Analytics Design Sheet
## URL to the chapter

[https://github.com/ds4se/chapters/blob/master/GunetherRuhe/RuheNayebi.md](https://github.com/ds4se/chapters/blob/master/GunetherRuhe/RuheNayebi.md)
## Message?

_What is the chapter's  clear and approachable take away message?_

Currently, most decisions in software engin

[2015-12-21 20:13] timm commented on #43
Also, it would be good to see some full example of using these higher goals to drive data collection and interpretration (e.g. is this a theoretical framework or a case study)?

[2015-12-21 20:20] timm commented on #44
This paper is much less about data democratization than about about a specific tool.  So my challenge to you is to generalize the tool to a general principle that can apply to a class of tools. If they want to talk about a specific visualization tool, thats fine as an example of a general point. But at least half the chapter should be about the general point (perhaps with examples from more than o

[2015-12-21 20:32] kimherzig commented on #49
Addressed comments and accepted challenge. Hope the message gets clear much sooner. Also simplified sentences. The title changed too: "There's never enough time for all the testing we want". This fits the outline better and is already part of the message. Chapter in the beginning shorter.

[2015-12-22 00:22] aysebener opened #125 "Log It All"
Review
Before filling in this review, please read our Advice to Reviewers.
(If you have confidential comments about this chapter, please email them to one of the book editors.)
Title of chapter
Log It All (or "Why a Little Data Can be Harmful")
URL to the chapter
https://github.com/ds4se/chapters/blob/d238e0fe97bf300360a9fc1e718ca7f32f5e17f2/gmurphy/logitall.md
Message?
What is the chapter's clear

[2015-12-22 00:28] aysebener opened #126 "Are your Post-release Defects Post-al?"
Review template
Before filling in this review, please read our Advice to Reviewers.
(If you have confidential comments about this chapter, please email them to one of the book editors.)
Title of chapter
Are your Post-release Defects Post-al? (or: How the Release Process Impacts your Software Analytics)
URL to the chapter
_the markdown file. e.g. https://github.com/ds4se/chapters/blob/master/zimmer

[2015-12-22 19:33] tzimmermsr commented on #90
Review by @trevorcarnahan (copied from #100)

## Title of chapter

_Software Analytics in Practice_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/zhang-xie/SoftwareAnalyticsInPractice.md_

## Message?

_Software Analytics can help eng. productivity, product quality, and user experience by producing actionable insights in practice._

## Accessible?

_Yes, the content was ac

[2015-12-22 19:34] tzimmermsr commented on #100
Moved to #90

[2015-12-22 19:34] #100 closed, assigned to nobody

[2015-12-22 19:36] tzimmermsr commented on #90
Review by @siravegas (copied from #113)

# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_Software Analytics in Practice._

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/zhang-xie/SoftwareAnaly

[2015-12-22 19:39] tzimmermsr commented on #113
Moved to #90.

[2015-12-22 19:39] #113 closed, assigned to nobody

[2015-12-22 19:42] tzimmermsr commented on #40
Review by @andreas-zeller (from #121)

## Title of chapter

_ Inductive Software Engineering: What we do IS Different_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/menzies/inductiveManifesto.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Read the inductive software engineering manifesto (or don't, now that you have the summary)_

## A

[2015-12-22 19:42] tzimmermsr commented on #121
Moved to #40

[2015-12-22 19:42] #121 closed, assigned to nobody

[2015-12-22 19:45] tzimmermsr opened #127 "./audris/ODIssues.org"
After review, relabel to 'reviewTwo'. After second review, relabel to 'EditorsComment'.

Chapter leaves here:
https://github.com/ds4se/chapters/blob/master/audris/ODIssues.org

@timm

[2015-12-22 19:56] tzimmermsr commented on #98
Review by @barik (copied from #78)

## Title of chapter

Visualizing data is important, or Visualize often and double check

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/stephan_diehl/visualization.md

## Message?

Visualizing data is an integral part of the research process, and can be used in many different stages of the research process.

## Accessible?

The chapter has

[2015-12-22 19:56] tzimmermsr commented on #78
I consolidated the reviews into a single issue report (#98 because everyone was subscribed to it.)

[2015-12-22 19:56] #78 closed, assigned to nobody

[2015-12-22 19:59] tzimmermsr commented on #69
Now in #99

[2015-12-22 19:59] #69 closed, assigned to nobody

[2015-12-22 20:01] tzimmermsr commented on #88
Review by @GRuhe (copied from #110)

## URL to the chapter

_the markdown file. e.g. https://github.com/ds4se/chapters/blob/master/weyuker-ostrand/prediction.md_

## Message?

What is the chapter's  clear and approachable take away message?

_Accurate defect prediction IS possible_

## Accessible?

Is the chapters written for a generalist audience (no excessive use of technical terminology) with a

[2015-12-22 20:02] tzimmermsr commented on #110
Moved the review to #88.

[2015-12-22 20:02] #110 closed, assigned to nobody

[2015-12-22 20:24] tzimmermsr commented on #80
Review by @siravegas (moved from #112):

# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_Reducing Time to Insight_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/trevorcarnahan/Reducing%20Time

[2015-12-22 20:24] tzimmermsr commented on #112
Moved to #80.

[2015-12-22 20:24] #112 closed, assigned to nobody

[2015-12-22 20:28] tzimmermsr commented on #118
Review now in #73

[2015-12-22 20:28] #118 closed, assigned to nobody

[2015-12-22 20:33] tzimmermsr commented on #75
Review by @GRuhe (moved from #111):

## URL to the chapter

_the markdown file. e.g. https://github.com/ds4se/chapters/blob/master/siravegas/Challenges SE Experiments.md_

## Message?

What is the chapter's  clear and approachable take away message?

_”One size does not fit all” applies to SE experiments as well_

## Accessible?

Is the chapters written for a generalist audience (no excessive use

[2015-12-22 20:34] tzimmermsr commented on #111
Moved review into one issue report (#75)

[2015-12-22 20:34] #111 closed, assigned to nobody

[2015-12-22 20:36] tzimmermsr commented on #71
Review by @andreas-zeller (moved from #120)

## Title of chapter

Summarizing Dynamic Data

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/rtholmes/summarizing-dynamic-data.md

## Message?

What is the chapter's  clear and approachable take away message?

_To summarize dynamic data, consider state transitions_

## Accessible?

Is the chapters written for a generalist audience

[2015-12-22 20:36] tzimmermsr commented on #120
Moved to #71

[2015-12-22 20:36] #120 closed, assigned to nobody

[2015-12-22 22:04] turhanb commented on #38
## Title of chapter

Correlation is not Causation (or, when not to scream "Eureka!")

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/menzies/CorrelationVsCausation.md

## Message?

Correlation is not causation

## Accessible?

Vic Basili and Steve Easterbrook's high profiles in SE can be emphasised to make the generic audience realise why you cite examples/ methods from them.

[2015-12-22 22:40] tzimmermsr commented on #127
## Title of chapter

_Missing, Incorrect, and Decontextualized_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/audris/ODIssues.org_

## Message?

What is the chapter's  clear and approachable take away message?
_Operational data is not as clean as experimental data_

## Accessible?

Is the chapters written for a generalist audience (no excessive use of technical terminology

[2015-12-22 22:51] turhanb commented on #70
## Title of chapter

Software Analytics for Small Software Companies: More Questions than Answers

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/rrobbes/smallcompanies.md

## Message?

Software analytics approaches need scaling "down", driven by unique priorities of small software companies.

## Accessible?

This chapter lists points that are all valid, but it gives the impr

[2015-12-22 23:11] tzimmermsr commented on #89
## Title of chapter

From Data to Software Theory

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/whitehead/whitehead-from-data-to-theory.md

## Message?

_What is the chapter's  clear and approachable take away message?_
Software Theory is Important… for everyone

## Accessible?

_Is the chapters written for a generalist audience (no excessive use of technical terminology) w

[2015-12-22 23:27] tzimmermsr commented on #68
## Title of chapter

The White-Shirt Effect

## URL to the chapter

https://github.com/ds4se/chapters/blob/master/prechelt/learn-from-failure.md

## Message?

_What is the chapter's  clear and approachable take away message?_
Have a Causational Model before you do anything

## Accessible?

_Is the chapters written for a generalist audience (no excessive use of technical terminology) with a minimum

[2015-12-23 00:36] tzimmermsr commented on #71
@rtholmes Please prepare a new version of the chapter taking the reviewer's feedback into account, in particular explaining the diagrams better and showing how they could be used in practice.

[2015-12-23 00:36] tzimmermsr commented on #71
(forgot to add the date) @rtholmes Please prepare a new version of the chapter by January 13.

[2015-12-23 00:50] tzimmermsr commented on #94
A few more comments:
- The paper puts a lot of focus on "Researchers" in the beginning. This makes it sound like crashes only matter to researcher, but in this is not the case. Crashes have been analyzed for many years in industry, e.g., Debugging in the Very Large: Ten Years of Implementation and Experience (SOSP 2009) http://www.sigops.org/sosp/sosp09/papers/glerum-sosp09.pdf A simple fix is to

[2015-12-23 00:53] tzimmermsr commented on #94
@theisencr @lauriew Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account.

[2015-12-23 01:05] tzimmermsr commented on #75
@siravegas @nataliajuristo Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account. In particular, focus on making the text more accessible for generalist audience who is less familiar with experiments and terms such as controlled experiments, one-factor between-subjects experiments, etc. This will increase the impact of your chapter.

[2015-12-23 05:42] tzimmermsr commented on #67
@pgbovine Please prepare a final version of your paper by January 13 taking the reviewers' feedback into account. The length of the chapter is fine. Colloquial language is OK in the context, but you might want to tone down some of the sentences.

In "Pipe stdout and stderr to log files" maybe add the syntax that pipes stdout and stderr to files, not everyone is familiar with it and it's not trivia

[2015-12-23 05:56] tzimmermsr commented on #66
A few smaller changes (in addition to the above reviews)

data sciences => data science

Define acronyms consistently:
PDCA (Plan-Do-Check-Act) => Plan-Do-Check-Act (PDCA)
CMM (Capability Maturity Model) => Capability Maturity Model (CMM)
CMMI (Capability Maturity Model Integration) => Capability Maturity Model Integration (CMMI)

US Department of Defense (DoD) has => US Department of Defense has

[2015-12-23 06:06] tzimmermsr commented on #66
@maoivo Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account.

I agree that the title --- while catchy --- is not a good choice for the chapter. The chapter will have more impact if it relates Software Process Improvement in some way to data science.

You can still keep the quote, simply start the Introduction with the sentence as a quote: "In god we

[2015-12-23 06:22] tzimmermsr commented on #70
@rrobbes Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account. They offer great advice on how to improve the chapter.

My challenge to you is to make it more appealing to a broad audience. Don't focus so much on the ICSE reviewer as a reader, but think about what a software engineer in a small (or even large) company could take away from the chapter.

[2015-12-23 06:48] tzimmermsr commented on #79
@tomFr Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account. They offer great advice on how to make this an even stronger chapter.

[2015-12-23 06:59] tzimmermsr commented on #73
This sentence does not parse (what happened after they presented the feature survival chart?): "However, not until they presented the feature survival chart, visualizing features and their status change in an x-y-diagram, see figure X."

The axes are swapped in the description:
- The features are listed on the x axis => y axis
- and time and milestones are marked on the y axis. => x axis

Figure X

[2015-12-23 07:02] tzimmermsr commented on #73
@pruneson46 Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account. A theme among all reviews is that the visualizations need more explanation.

It's OK if those explanations make the chapter slightly longer (or go beyond the word limit).

[2015-12-23 07:23] tzimmermsr commented on #84
@turhanb Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account. The reviews offer great advice on how to make this an even stronger chapter.

I second Lutz's comment about the summary.

I second Tao's comment that the title might not be a good fit. There are cases where prediction works; in your case the engineers were just looking for different insig

[2015-12-23 07:32] tzimmermsr commented on #85
Here's an example from personal experience. => Provide some context. Assuming that this while working at Microsoft, this piece of information will add additional credibility.

USB driver is tested => the USB driver is tested

Windows USB testing team  => the Windows USB testing team [several occurrences]

[2015-12-23 07:39] tzimmermsr commented on #85
I'm not sure if I agree with the premise in the introduction: "When we talk about data science in the context of software engineering, we often only consider static sources/artifacts such as source code, version history, bug reports, mailing lists, developer network, and organization structure. Why don't we consider dynamic artifacts such as execution logs, crash/core dumps, call stack, and traffi

[2015-12-23 07:40] tzimmermsr commented on #85
@rvprasad Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account. They offer great advice on how to make this a stronger chapter (e.g., terminology, more details).

[2015-12-23 14:34] lauriew commented on #115
@abramhindle We are still waiting for the second review for your chapter.

Some of my own comments.  You say "This is just one of many perils one faces ..."   I'm never a fan of the subject of the sentence being "This" (just ask my students).  It causes the sentence to be ambiguous.  I think you are meaning that the prior sentence is an example of one of the many perils (involving systems being in

[2015-12-23 15:04] lauriew commented on #20
@andyjko We only have one review for your chapter so far -- hoping to get the second one soon.  The chapter's in good shape.  Please keep in mind that we will be trying to get final versions of the chapter by January 13.

Some (minor) comments from me.
- I feel like you overuse colons -- when what comes after the colon should just be a new sentence.
-  Crashes, Hangs and Bluescreens ... can you ad

[2015-12-23 17:02] timm commented on #53
I'm nodding with nenad: I was expecting a punchline there.

It just sort of ... ends... without really a comment. e.g. will all software become app-based? will larger systems divide themselves up into lots of apps? is the push for devops naturally forcing all larger packages to become apps?

at the very least, what about the telemetry requirements of monitoring apps? what can we learn about the da

[2015-12-23 17:07] timm commented on #39
thanks to @hongyujohn and @miryung. Chapter revised!

for both reviewers:
- [x ] fix typos

for @hongyujohn hongyujohn
- [x ] removing missing reference
- [ x] define "products"

for @miryung
- [x ]  fix confusing para1
- [ x] talk to the TOC issue

[2015-12-23 17:11] timm commented on #103
- the opening section is really great. 100% motivates the whole paper
-  both tom and peggy had problems with the section "What are the key tasks?" is more like "How to find Provenance" and needs to be clarified

[2015-12-23 17:17] timm commented on #58
- liked the chapter
- good the way you made it approachable by a wide audience
- there are drawbacks to ensembles, problem of explanation, problem of concept drift (models changing all the time... but is that a problem or a comment on the reality of the world? dunno), cpu cost (while the cloud makes that problem less, the cloud environments are heavily monetized so lotsOfHardware != cheapHardware)

[2015-12-23 17:29] timm commented on #105
I've nothing to add to the above. Well written chapter!

[2015-12-23 17:31] timm commented on #61
Good chapter.

[2015-12-23 17:32] GRuhe commented on #105
Tim,

Thanks for all the recent messages ☺ … any chance to change the process and directing them ONLY to the authors of the respective article?

G.

From: Tim Menzies [mailto:notifications@github.com]
Sent: December-23-15 10:29 AM
To: ds4se/chapters chapters@noreply.github.com
Subject: Re: [chapters] Minku's How You Learn Review (#105)

I've nothing to add to the above. Well written chapter!

—
Re

[2015-12-23 17:33] timm commented on #62
Just needs minor changes. Well done!

[2015-12-23 17:40] timm commented on #122
Should the key takeaways include other implications?
- Can you say anything about the systems implications for this approach? E.g. design telemetry first,?aggregate data centrally? build a large data store first?
- Or the other implications? e.g. hire as many data scientists as engineers (so instead of analyst-dev-test now you get analyst-dev-test-analytics)?

[2015-12-23 17:41] timm commented on #91
see also #122

[2015-12-23 17:41] timm commented on #122
see also #91

[2015-12-23 17:56] timm commented on #92
Hey Natalia,
I understand _why_  you went to such a high level (approachability! great goal!) but I'm thinking you went a little _too_ high level (but full marks for trying _not_ to write the standard dry academic paper!).

The chapter  need a little more "crisping up", more specifics. Perhaps some structural features might help:
- list of key takeaways
- list of traps (rookie mistakes, how NOT to

[2015-12-23 17:58] timm commented on #104
I think this chapter needs more specifics. how about:
- graphics showing samples of dashboards and a little lessons learned from each.

[2015-12-23 18:00] timm commented on #65
see also #104

note that kim is asking for more details. e.g. why ISN'T the standard github analytics interface not good enough (or, to be kinder to github, say that its ok but here are a list of queries that we want to add to that interface).

[2015-12-23 18:02] timm commented on #126
see also #63

[2015-12-23 18:02] timm commented on #63
see also #126

[2015-12-23 19:33] timm commented on #127
# Review template

Before filling in this review, please read our [Advice to Reviewers](how2review.md).

_(If you have confidential comments about this chapter, please email them to one of the book editors._)

## Title of chapter

_Missing, Incorrect, and Decontextualized_

## URL to the chapter

_https://github.com/ds4se/chapters/blob/master/audris/ODIssues.org _

## Message?

What is the chapter

[2015-12-23 19:35] timm commented on #123
Also mentioned in #123 #106 #42

[2015-12-23 19:35] timm commented on #106
Also mentioned in #123 #106 #42

[2015-12-23 19:36] tzimmermsr commented on #80
Great chapter @trevorcarnahan ! Please prepare a final version of your paper by January 13 taking the reviewers' feedback into account, in particular improving the organization of the What to Do section to make it less overwhelming.

[2015-12-23 19:37] timm commented on #124
mentioned in #124 #23

[2015-12-23 19:37] timm commented on #43
mentioned in #124 #23

[2015-12-23 19:38] tzimmermsr commented on #38
@timm Please prepare a new version of your paper by January 13 taking the reviewers' feedback into account.

[2015-12-23 19:38] timm commented on #95
also mentioned in #44 #95

[2015-12-23 19:39] timm commented on #44
also mentioned in #44 #95

[2015-12-23 19:47] timm commented on #63
Can we add anything about the overall time required for these sorts?

Any "home run" stories? great core wonderful insights that BLEW everyone away?

[2015-12-23 19:47] tzimmermsr commented on #88
Great chapter @tostrand! It's a great retrospective on how to build successful defect prediction models.

Please prepare a final version of your paper by January 13 taking the reviewers' feedback into account. I agree with @GRuhe that it "Would be nice to have one or two sentences if and how successful the results were used at AT&T."

[2015-12-23 20:06] tzimmermsr commented on #99
Great experience report Pete. Very impressive work. I like it. Please take a look at the reviews and submit a new version of the chapter by January 13.

Specifically, please focus on making the chapter slightly less technical. Right now your chapter is requires somewhere between Data Science 201 and 301. Can you increase the take away for people who just started with Data Science 101 and don't kno

[2015-12-23 20:16] tzimmermsr commented on #68
@prechelt Please take a look at the reviews and prepare a new version of your paper by January 13. In particular focus on (1) improving the connection between the first two sections and the third one and optionally (2) consider using a better example for the section 2.

[2015-12-23 20:35] tzimmermsr commented on #98
A few comments
- The "Some examples" section needs some paragraphs, e.g., start new paragraphs for "Once you have the data cleaned", "So you try another visualization"
- Please add examples of visualizations. You can build a much more compelling argument with pictures, especially when you argue the visualization is important.
- Explain what Parallel Coordinates are. Explain what aliasing effects a

[2015-12-23 20:36] tzimmermsr commented on #98
@sdeal Please take a look at the reviews and prepare a new version of your paper by January 13. The reviewers offer great advice on how to make the chapter stronger.

[2015-12-23 20:51] tzimmermsr commented on #87
@wagnerst Please take a look at the reviews and prepare a new version of the chapter by January 13. In particular, focus on adding more details (as suggested by @rrobbes) and consider the proposed title/intro (suggested by @timm). Even if you don't change the title, I like the idea of connected NLP to Siri, Cortana, Watson, etc.

[2015-12-23 21:00] tzimmermsr commented on #86
Great experience report @rvprasad !

Please take a look at the reviews and prepare a new version of the chapter by January 13. Focus on improving the readability of the chapter (see comments by @devanbu and @timm). I don't expect you to add the frog reference, but feel free to do so (if you see fit).

The chapter ends with an empty Reference section. Did you mean to add a pointer to where readers

[2015-12-23 21:47] tzimmermsr commented on #74
Great chapter @sback ! Please take a look at the reviews and prepare a final version by January 13.

I second @rrobbes comment about the title. A simple fix could be to append a "with Tag Clouds", i.e., "Summarizing Unstructured Data with Tag Clouds" or to put the emphasis on structuring unstructured data. I leave the decision about whether to make changes to you.

If you decide to mention Stefan

[2015-12-23 21:51] tzimmermsr commented on #127
@audris Please take a look at the reviews and prepare a new version of the chapter by January 13. Copy over the

[2015-12-23 21:54] tzimmermsr commented on #127
@audrism Please take a look at the reviews and prepare a new version of the chapter by January 13.

Please also think of a better title (see some suggestions in the reviews)

[2015-12-23 22:02] tzimmermsr commented on #89
@JimWhiteheadUCSC Please take a look at the reviews and prepare a new version of the chapter by January 13. In particular, focus on making the chapter more accessible to a generalist audience. @pruneson46 has some great advice on accomplish this in his review, e.g., keep only as much detail as needed to make the point.

Personally I felt that most of the bug taxonomy was not needed to support the

[2015-12-23 22:05] tzimmermsr commented on #40
@timm Please take a look at the reviews and prepare a new version by January 13. Both reviews offer great advice on how to make the chapter stronger.

[2015-12-23 22:48] tzimmermsr commented on #90
@taoxiease @dongmeizhang Please take a look at the reviews and submit a new version by January 13. Both reviews offer great advice on how to make this a stronger chapter.

I recommend to drop the comparison with software intelligence and analytics for software development in the beginning since it does not add much (okay to keep your definition of software analytics in the introduction). Most read

[2015-12-28 22:04] trevorcarnahan commented on #80
Thanks for the review @pgbovine and @tzimmermsr.  I've broken the 'What to do' section up a bit to make it more approachable.
- We all seem happy enough with the title, I'll defer to the esteemed editors if it needs to be snappier.
- I'll defer to the editors on the web references also.

Latest is in:
https://github.com/ds4se/chapters/commit/9905f29f89bbe6093269bde0545fa2e2dde818a6

[2015-12-29 18:56] abramhindle commented on #115
I integrated all comments successfully and to the best of my ability. Still waiting for review #2.

[2015-12-30 15:34] brusso123 commented on #55
Here it is!
We have the permission.
Barbara

Dear Barbara,

All the material in scikit-learn is licensed under a BSD license. So you
are free to use it, and there is nothing that we can do to prevent you
from this (by design). That said, thank you very much for asking. You
have our full permission, and we are very happy that you are reusing the
materials. Ideally could you credit the scikit-learn

[2016-01-03 06:02] jeffhuang commented on #47
made a substantial revision, thanks for all the suggestions!

[2016-01-04 08:55] hongyujohn commented on #44
Perhaps we could change the title to "Visual Analytics for Software Engineering" to better reflect this paper's theme...

hongyu

[2016-01-04 10:17] sdeal opened #129 "Parallel Coordinates Image"
![Parallel Coordinates Visualization of Mozilla Firefox with highlighted outlier](https://cloud.githubusercontent.com/assets/6698605/12087651/fde4ec8a-b2d4-11e5-925e-095598da1a40.png)

[2016-01-04 14:03] minkull commented on #105
Thanks a lot for the comments. I've just revised the chapter.

Happy New Year!

[2016-01-04 14:39] minkull commented on #105
Response to Natalia's comments:

Thanks for pointing that out. I'm now always using "learning algorithm", "data models" and "data analytics".

Changed to "examine your data analytics problem first, then chose the type of learning algorithm to consider".

This is a nice suggestion of title too. I've added the potential title "The Learning Algorithm You Use for Data Analytics Affects the Results You

[2016-01-04 19:29] lauriew commented on #115
Thanks.  I will bug reviewer #2 again.

I hope you had a great holiday!

---

Laurie Williams, PhD
North Carolina State University
Associate Department Head and Professor, Department of Computer Science
890 Oval Drive, Room 3272
Campus Box 8206
Raleigh, NC 27695-8206

http://collaboration.csc.ncsu.edu/laurie/

[2016-01-04 19:45] lauriew commented on #20
@andyjko Here's the second review

**Message?**

What is the chapter's clear and approachable take away message?
Yes. “It is not enough to build it right… you need to build the right product! Validate it against the world!”

**Accessible?**

Is the chapters written for a generalist audience (no excessive use of technical terminology) with a minimum of diagrams and references? How can it be made mo

[2016-01-04 19:48] lauriew commented on #55
Second review, pasted in by @lauriew

**Message?**

What is the chapter's clear and approachable take away message?
written in one line or less
We should build remedies for software engineering problems as they are available in medical domain.

**Accessible?**

Is the chapters written for a generalist audience (no excessive use of technical terminology) with a minimum of diagrams and references?
H

[2016-01-04 20:30] lauriew commented on #21
@alexorso

You have the two reviews.  As was previously sent out, we were aiming for people to revise their chapters by January 13.  I know the time is relatively short, but since the chapter is not that long it should hopefully not take too long.

Here's my comments when I read in addition to those from the other reviewers:
I found the "Premise" section to be defensive, which seems a tough way to

[2016-01-04 20:39] #46 closed, assigned to jaccz

[2016-01-04 20:52] lauriew commented on #22
@alexorso
We're still waiting for the second review, though it is promised for tomorrow.  Please keep in mind that we are hoping for new versions of the chapter by January 13.

In addition to the one review, I'll make the following observations:
"the actual phenomena in which we are interested have not been recorded or are altogether unobservable"  ... that sounds pretty intractable.  It may disru

[2016-01-04 21:16] lauriew commented on #23
@andreas-zeller
Your two reviews are in.  As was stated in an earlier email, we are looking for new versions of the chapters by January 13.

I made the following notes as I read in addition to those from the other reviewers:
-  "if the features is clearly advertised" ... should be "if the features ARE clearly advertised"
-  maybe give some examples of "tried-and-proven natural language processing

[2016-01-04 21:32] lauriew commented on #24
@andymeneely
I'm trying to find the second review which is marked as in but is not posted here.  Meanwhile, please be prepared  to submit a new version of the chapter by January 13.

While I read it, I came up with the following additional comments (not giving any chapter my full "pink bubble" treatment ... but I had very little temptation with your chapter versus others that had many realsearch v

[2016-01-04 21:56] lauriew commented on #32
@dspinellis

You have one review you can look at now.  The other reviewer is marked off as having provided the review but I cannot find it.  I have emailed him and hope to have it for you right away.  Please keep in mind that we will want new versions of the chapter by January 13.

I made the following notes while reading your chapter, in addition to the review you currently have.

I was disturbed

[2016-01-04 22:19] lauriew commented on #25
@andymeneely

You have two reviews here.  Please plan to submit a revised chapter by January 13.

Here's some comments in addition to those provided by the other reviewers:
"In particular, when analyzing security data, we need to be aware of a lot of practical and conceptual concerns. Consider the following "Gotchas"."  What are the "Gotacha" about?  Gotchas to measuring security?  Gotchas to prac

[2016-01-04 22:21] lauriew commented on #24
Review submitted by Dag Sjoberg

## Message?  What is the chapter's clear and approachable take away message?  _written in one line or less_

It’s better to use metrics that one can act directly upon than metrics that need more investigation before action.

However, as I point at below, there are hardly any actionable metrics in SE. So, I would suggest that the message should be something in the d

[2016-01-04 22:23] lauriew commented on #32
Review from Dag Sjoberg:

## Title of chapter

Tools! Tools! We need tools!

## URL to the chapter

_the markdown file.

https://github.com/ds4se/chapters/blob/master/dspinellis/tools.md

## Message?  What is the chapter's clear and approachable take away message?  _written in one line or less_
- The overall message is:

Tools are required to collect and analyze data about software systems and pro

[2016-01-04 22:45] lauriew commented on #26
@a1729nikora

You find your two reviews here.  Please factor in the comments to prepare a revised chapter.  As was stated earlier, we are looking for revised chapters by January 13.

In addition to the feedback of the other reviewers, I add some comments based upon my read:

typo (extra word) "made it feasible to **use include** data mining as an assurance support"

Under data you start out with "

[2016-01-04 22:59] lauriew commented on #27
@baishakhir
You have two reviews now.  You can see both reviewers found the purpose of the paper confusing (in the same way).  Please consider your message.  As previously stated, we will be looking for revised chapters by January 13.

In addition to the comments made by the two reviewers, I make the following comments:
"single large umbrella" is probably too colloquial given the audience of the b

[2016-01-04 23:55] minkull commented on #58
Many thanks for the comments. I've revised the chapter as explained below.

## Response to Tom's comments:

The photos are not strictly necessary. I've added them just to make the chapter more visually appealing, given the lack of nice shiny graphs and diagrams :-) The beach photo was a change in environment from snow to sunny. I've removed the photos in the revised chapter. If anyone would prefer

[2016-01-05 01:01] amyjko commented on #20
Thanks! Addressed the few typos and tried to broaden the Crashes section.

[2016-01-05 09:17] dspinellis commented on #32
@lauriew: Laurie, thank you so much for your comments!  Regarding bibliographic references, I didn't put them in the text, because markdown doesn't offer a built-in way to do that.  (In LaTeX I would have put \cite{...}.)  Can I supply the references in BibTeX format and add the citations with \cite{}?  Regarding URLs, these are easily handled in e-books, and are typically rendered in printed book

[2016-01-05 11:33] prechelt commented on #68
Alex, Tom,

thanks for your comments.
Using a different example for Section 2 was not possible (it would make the chapter burst), but connecting Section 3 better to Section 2 worked out nicely.
I also found a few more typos and improved some formulations.
I have checked in my reworked version and have relabeled the issue to "5.AuthorHasRevised".

[2016-01-05 15:12] lauriew commented on #32
@dspinellis
Just put the references in manually for the moment (like [Spinellis1].  Once we start working with the publisher, you can use more of the usual tools.  At least for now we can see where you have substantiation, etc.  Thanks.

[2016-01-05 15:24] lauriew commented on #30
@cabird

Review from Brendan Murphy

Don't embarrass Yourself.

General Comments
You example of data bias is good but you are incorrect that the problem has been fixed, it is a very US centric view.
The polling companies in the UK are now reviewing why their predictions in for the 2015 elections
were so wrong, see http://www.telegraph.co.uk/news/general-election-2015/11592840/Independent-inquiry-a

[2016-01-05 15:40] lauriew commented on #22
@alexorso
Your second review.

General Comments
I did struggle with this paper. The section on learning from data you have a list of categories which is out of context and very generalized. I assume this is your list but it is unclear if these are picked from random or just your gut feel or used by other people. So why this list and why not any other list. Also I am sorry but in an empirical book

[2016-01-05 18:27] kimherzig commented on #48
Added a new revision addressing all reviewer and editor comments.

[2016-01-05 21:05] lauriew commented on #55
@brusso123

You have your two reviews.  As was previously sent out, we are looking for revised chapters by January 13.  In addition to the reviews you already have, I have the following comments:
-  I would not use "anamneses".  I admit to having to look up a definition for it :) {blush}
-  I would think the primary pattern a doctor would use is a diagnosis pattern -- and then each diagnosis would

[2016-01-05 21:27] lauriew commented on #28
@aysebener

Your two reviews are in.  As you know from prior emails, we are looking for revisions by January 13.

In addition to the comments made by other reviewers, I have the following suggestions from my read.
-  You say "our client's main software engineering problems were measurement, effective testing, reliability, process and project management, and human resources management."  I'd prefer

[2016-01-05 21:29] lauriew commented on #109
@darylposnett review copied here by @lauriew

Title of chapter

The Bayes Factor in Software Engineering Practice
URL to the chapter

https://github.com/ds4se/chapters/blob/master/bener/bayesianNets.md
Message?

Bayes Networks are able to model causal relationships which could be useful in software engineering research.
Accessible?

In general yes. Perhaps an example of causality may help to eluci

[2016-01-05 21:47] lauriew commented on #109
@aysebener
You now have two reviews.  As we said in a prior email, we are asking for new versions of the chapters by January 13.

Here are some comments I made while reading the chapter in addition to the other reviewers:
-  I would not assume that people know the AI acronym.  Why not just define it?
-  I feel like a one sentence into to BN would be helpful for accessibility.
-  "Earlier work on B

[2016-01-06 21:20] lauriew commented on #29
I am losing faith that your second reviewer will perform his review.  As was previously send out in an email, we are looking for updated chapters by January 13.

I have made the following additional comments as I read your chapter:
-  "the number of Software Engineering Researchers"  (no need to capitalize Software Engineering Researchers ... in any sentence) or Software Engineering either.
-  In

[2016-01-06 21:24] lauriew commented on #54
Review from Ayse Bener
Title of chapter
Are your Post-release Defects Post-al? (or: How the Release Process Impacts your Software Analytics)
URL to the chapter
_the markdown file. e.g. https://github.com/ds4se/chapters/blob/master/zimmermann/card-sorting.md _
https://raw.githubusercontent.com/ds4se/chapters/3d0def9cc5d06423c55a0e52d4e2636b9f53fa7d/bramadams/releng.md

Message?
What is the chapter'

[2016-01-06 21:25] lauriew commented on #54
Review from Barbara Russo

Title of chapter

Are your Post-release Defects Post-al? (or: How the Release Process Impacts your Software Analytics)
URL to the chapter

https://github.com/ds4se/chapters/blob/d657de724e433d8a67c15aa1af3bd7da9e25586a/bramadams/releng.md
Message?

What is the chapter's clear and approachable take away message?
“always consider the release process used by a software proj

[2016-01-06 21:43] lauriew commented on #54
@bramadams Your two reviews are now posted here.  As was previously sent out in an email, we are asking for new versions of the chapters to be posted by January 13.

I made the additional comments when I read your chapter:
-  I felt you adequately motivated the problem.  The "solution" (the part below the link to the figure) was much more rushed over.  For example, what would you specifically look

[2016-01-07 14:34] sback commented on #74
Hello @rrobbes, @timm, @tzimmermsr!

 Thank you for the wonderful feedback! Really. I like this much more than receiving anonymous reviews (but that's for another forum to discuss ;) )

I just pushed the new version following your suggestions. This is the change log:
1. Changed the title into: "Structure Your Unstructured Data First! \n The Case of Summarizing Unstructured Data with Tag Clouds" as

[2016-01-08 20:48] lauriew commented on #56
You now have two reviews.  As was previously sent out, we are hoping for new versions of the chapter by January 13.  I realize this is soon -- but the chapter is not too long.

In addition to the comments by the reviewers, I made the following notes:
-  From a writing style perspective -- could you consider each phrase/sentence in parenthesis and see if you can simplify the parsing needed by the r

[2016-01-08 23:01] miryung commented on #61
updated version of the chapter is committed to the repository.

[2016-01-08 23:01] #61 closed, assigned to nobody

[2016-01-11 01:11] lauriew commented on #30
@cabird
You have two reviews for your chapter.  As was previously send out in an email, we were asking for revised chapters by January 13 ... which is soon, I know.  But the chapters are pretty short.

In addition to the reviews you have, I made the following notes when I read this chapter.
-  Make this a new sentence instead of a parenthetical expression "(a long line of research exists on techni

[2016-01-11 01:36] lauriew commented on #31
@cabird

Glad you've engaged with your reviewers.  We're hoping for revised chapters by January 13.

In addition to what the reviewers said, I made the following additional notes:
Minor editing:
-  ..." I had. All to no avail."  I think "all to no avail" is not a sentence so maybe it should be like "... i had -- all to not avail."
-  "When we talked, He explained ..."  no capital H.
-  Say somethi

[2016-01-12 16:08] gousiosg commented on #42
Also mentioned in: #123 #106

Thanks Natalia and Earl for the nice reviews! I tried to incorporate some points (e.g. all the identified language issues and the suggestion to comment a bit on the technology of each project). I did not change the title; I quite like the current one :smile:

See 7a174ee

[2016-01-12 17:56] audrism commented on #127
Thank you for great suggestions. I tried to restructure and clarify the todo part to the extent possible.

The references are in the pdf/bbl file, I am not so sure how to export that to md nor if thats the final format.

Also, aircraft is plural for aircraft :-)

[2016-01-12 17:56] #127 closed, assigned to audrism

[2016-01-12 19:31] pgbovine commented on #67
thanks for the helpful comments! I toned down the colloquial language, tried adding a more catchy title, and made other minor revisions as well.

[2016-01-13 01:24] lauriew commented on #33
In addition to the comments by the reviewers, I made the following notes:
-  You got some push-back on too many self references.  One place you maybe able to remove a self reference is "To cope with these weaknesses of evidence hierarchies, Dybå and Dingsøyr (2008) ..." and instead just go right to GRADE.  Then begin the self-reference below the table.  Having it up there implies "you should use i

[2016-01-13 01:48] lauriew commented on #34
In the revision, please come to a conclusion on "[[possible link to the chapter “Correlation is not Causation” by Dybå et al.]]"

In "how to use theory" you start out with "participants" then "consultants" then "juniors" then "developers" -- please clarify and use more consistent terminology.

Put the references in the text to the references in the list at the bottom of the chapter.

In how to bui

[2016-01-13 03:12] rvprasad commented on #85
Addressing @tzimmermsr comments
- provided context for the personal experience reference.
- fixed typos pertaining to missing article "the".
- fixed the intro to pitch dynamic artifacts as a valuable source of info to enable SE tasks.
- no idea how to get bib-style references in markdown.  Any pointers will be helpful.  In the meantime, I will use manually crafted references.

[2016-01-13 03:18] rvprasad commented on #85
Addressing @barik comments
- changed the first paragraph to describe static and dynamic artifacts.
- added the words _runtime, requests,_ and _responses_ to explicitly connect of interactions to dynamic artifacts
- the use of cloud computing to deal with the size of dynamic data is made explicit.
- mentioned telemetry in the context of ease of dynamic data collection

[2016-01-13 03:25] rvprasad commented on #85
Addressing Rotella's comments @tzimmermsr
- added minor details about the type of clustering that was used and how the number of clusters were chosen.  For details about mining patterns and using patterns as features, we provide references to original works.
- as for 75-80% bug coverage, this is what we observed in our experiments when we _merely_ adapted the technique from USB compatibility testi

[2016-01-13 05:11] rvprasad commented on #86
Addressing @tzimmermsr
- no idea how to get bib-style references in markdown. Any pointers will be helpful. In the meantime, I will use manually crafted references.

[2016-01-13 08:04] rvprasad commented on #85
Thanks to all the reviewers for their feedback.  I have tried to incorporate/address your comments/concerns to the best extent possible.  Please let me know if you have further inputs.

[2016-01-13 16:55] mdipenta commented on #51
Addressed Emerson's comments:

Thanks, this is a very good idea (I didn't do it before because I did not have a complete picture of the whole set of chapters). Indeed my chapter provides more an overview of various qualitative methods, and specifically provides hints on their application in mining research. In the "Suggested readings" section I've now referred such chapters.

Done. Changed as:
"Su

[2016-01-13 16:57] mdipenta commented on #51
Addressed Tom's comments:

Thanks. I opted for your suggestion below.

Done. Regarding this point I've mentioned your recent (forthcoming @ICSE'16) paper I believe it provides great evidence about that.

Clearified terminology where needed. The chapter provides an explanation (from Quinn Patton book) of the difference between quantitative and qualitative research. Explained what a controlled exper

[2016-01-13 19:27] rvprasad commented on #86
Addressing @devanbu comments
- Added more information explaining the patterns (bulleted list)
- Added the rationale as to why patterns were used to compare driver behaviors. (end of section 1)
- Added a brief comment on other aspects involved in operationalizing the model (end of section 3)

[2016-01-14 01:21] rvprasad commented on #86
Addressing @timm comments
- Since the article is about simplifying the explanation and difference presentation is one approach to simplification, I am not sure the cogsci reference will provide info relevant to data analysis in general (as opposed info relevant to the current example).  Please let me know if you think otherwise.
- Sections 1 and 2 set up the context to how we can complicate presen

[2016-01-14 01:23] rvprasad commented on #86
Thanks to all the reviewers for their feedback. I have tried to incorporate/address your comments/concerns to the best extent possible. Please let me know if you have further inputs.

[2016-01-14 06:14] taoxiease commented on #90
@tzimmermsr The revisions are done by @dongmeizhang and me to address review comments. Please double check. Thanks!

[2016-01-14 11:19] fayola21 opened #130 "image for goldilocks"
![goldilockspic](https://cloud.githubusercontent.com/assets/5220943/12323056/53b33b02-bab0-11e5-81c3-0ca887700731.png)

[2016-01-14 15:55] lauriew commented on #35
@CaptainEmerson
I'm getting to reading your chapter late!  As Tim sent out a while ago, we were hoping for revised chapters by January 13, which happens to have passed!  You have three reviews -- please revise your chapter as soon as you can.

In addition to the comments from the reviewers, I will add my own ... Stage 3, survey design.  You need to make sure all the questions directly tie to the r

[2016-01-14 18:04] rtholmes commented on #71
Sorry, I updated this a few days ago but forgot to change the label.

[2016-01-14 23:01] juergenlive commented on #91
Thanks for the excellent comments! I addressed most of them in the new version.

[2016-01-15 16:36] CaptainEmerson commented on #35
@lauriew @timm @tzimmermsr What's the reference format going to be across all chapters? Author-year (Barik 2012)?

[2016-01-20 02:24] CaptainEmerson commented on #31
@cabird, some unsolicited feedback...

I always bristle a bit when people talk about sample size. Sample size itself is not a problem, representative-ness is. If you've only interviewed/surveyed/whatever 1 person, but she's totally representative of all developers, great! You're done! No need to sample anyone else.

So, I'd recommend:

to

And

to

Also, you draw a contrast with random sampling, b

[2016-01-20 16:47] CaptainEmerson commented on #31
Also! One thing I wonder about: the "chunked" transcription. I've always wanted to do this, but have been uncomfortable, because it somehow seems less rigorous (and more likely to be rejected by your reviewers). Do you have any references that describe alternatives to full transcription?

[2016-01-21 01:44] barik commented on #31
@CaptainEmerson I think this basically comes down to whether one follows Glaser or Strauss methodologies, both considered to have originally described grounded theory methodology. Glaser did not even record his interviews, and relied on "fields notes." I mostly follow Strauss, because his methodology is more procedural and therefore easier for novices to have confidence that they are "doing it rig

[2016-01-21 21:02] rrobbes commented on #70
Thanks for the comments! I revised my chapter, cutting half of the references and of the intro, refocusing it on the case of Amisoft, and expanding the discussion of Codealike towards the end of the paper. Sorry for the delay!

[2016-01-23 12:33] turhanb commented on #84
thanks for the feedback! I've made necessary changes to address them (pls see [Revision.pdf](https://github.com/ds4se/chapters/files/101849/Revision.pdf) for how I handled them). Please note the title (and mantra) is updated.

[2016-01-23 20:38] lauriew commented on #36
@barr I'm quite late in giving you feedback on this chapter.  You have two reviews.  Tim sent out an email back in December asking for revisions by January 13.  Both author and editor (that would be me) are late on this chapter.  I'd ask that as quickly as possible you revise your chapter and get us the new version as we are already working with the publisher on finished chapters.

In addition to

[2016-01-23 21:03] lauriew commented on #37
@fayola21 Thank you for revising your paper even though your editor (that would be me) hadn't communicated directly with you :)

Some additional comments from me:
-  In the paragraph that begins "In a similar vein, many researchers doubt the practicality of data sharing for the purposes of research."  You don't say WHY Boehm and Weyuker won't share.  It may be implied that it is the proprietary na

[2016-01-23 21:07] lauriew commented on #41
copying review of @aysebener here to consolidate:

Review
Before filling in this review, please read our Advice to Reviewers.
(If you have confidential comments about this chapter, please email them to one of the book editors.)
Title of chapter
Log It All (or "Why a Little Data Can be Harmful")
URL to the chapter
https://github.com/ds4se/chapters/blob/d238e0fe97bf300360a9fc1e718ca7f32f5e17f2/gmurp

[2016-01-23 21:18] lauriew commented on #41
@murphygc
Thanks for revising your chapter on Dec. 23.  I'm assuming you considered both your reviews since your second review was posted Dec. 21.  Go Gail!  I'm behind in acting as your editor, just reading your chapter now.  I have the following comments as we move toward sending "done" chapters to the publisher.
-  "Misinterpreting Phenomenon..."  Can we really ever hope to know all perspective

[2016-01-25 04:27] bramadams commented on #54
Hi @brusso123 , @aysebener and @lauriew ,

Thanks for the review comments, I've taken all of them into account and created a pull request #132 with the resulting version.

Kind regards,

Bram

[2016-01-27 13:11] brusso123 commented on #55
@lauriew @timm @cabird The revised version is now available see commit 4625ff0e76fee6fe4779d0fcb98b2ab5e8fd978a

[2016-01-27 22:05] andymeneely commented on #25
Sorry this was late, but I've made changes now.

[2016-01-29 13:55] timm opened #133 "end jan things to discuss with tom and laurie"
-  [x]  Q1: i've got this entry in the "perspectives book status" and i can't find the chapter. i think its one of the ones i did not get too. needed? OBE?
  Tim Menzies, Tom Zimmermann, Laurie WilliamsMerely Mining? Or Sharing Insight?
  - RESOLVED: we won't do this one
- [x]   Q2: i've revised our book chapter based on reviewer comments Perspectives on Data Science for Software Engineering. this

[2016-01-29 14:48] timm commented on #49
@kimherzig
anyway to make (a very small) throw to
http://dl.acm.org/citation.cfm?id=2635910

e.g. at least, end of para1: Here at Microsoft (as well as other large software organizations [3]) we have learned that the effort associated with testing must be carefully monitored and managed.

also, totally optional, but if you are feeling kind towards that work, maybe add just  a sentence or two on th

[2016-01-29 17:57] tzimmermsr commented on #133
@timm Regarding Q1: You moved he chapter under "badideasDoNotReview"
https://github.com/ds4se/chapters/blob/master/menzies/badideasDoNotReview/sharingManifesto.md

[2016-01-29 19:14] kimherzig commented on #49
Will do this ...

[2016-01-30 16:40] timm commented on #47
@jeffhuang

Thanks for your revised version!

[2016-01-30 16:54] timm commented on #105
@minkull
thanks for the revision. the issue of title remains.

How about: Which data mining method  do you  need?

leave it to you. But try to make the current one shorter, more to the point. it should jump off the table of contents and make people rush to read your chapter.

[2016-01-30 17:21] minkull commented on #105
@timm
Hi Tim, I'm fine with "Which data mining method do you need?"

[2016-01-30 21:21] timm commented on #61
@miryung thanks for the revision.

Totally optional, but here's an idea:
- Add a prefix to all your sub-headings: e.g. Step1: Choose the Right Questions for the Right Team
-  Remain the chapter: Five Steps for Success: How to  Deploy Data Science in Your Organizations

Then tweak para1 just a little to say that "5 steps follow"

[2016-01-30 21:45] timm commented on #45
@hongyujohn thanks for your revisions.

Chapter text is good. The title is still... not so fantastically exciting. Recall that there will be 60 to 70 chapters in this book. Your title needs to STAND OUT, least it disappears into the crowd. Any of Emerson's titles any good for you? Or something else?

[2016-01-31 11:28] maoivo commented on #66
- Changed the title
- Clarified the need for data science.
- Shortened intro to SPI
- Overall editing of language and clarity of the text throughout the chapter.

[2016-01-31 21:40] #4 closed, assigned to timm

[2016-01-31 21:40] #11 closed, assigned to tzimmermsr

[2016-01-31 21:43] barik commented on #35
@lauriew @sback @abramhindle @sdeal. Thanks for all your reviews. There's still one more editing pass I want to do before changing the label on this issue, but otherwise, I've tried to incorporate all your suggestions. You can find them in commit https://github.com/ds4se/chapters/commit/0b6bc48f11bcc0edb3d486cc0fd2143b0b0468a2, with individual fixes for each bullet point in https://github.com/ds4s

[2016-01-31 21:58] tzimmermsr commented on #71
Thanks for making the changes @rtholmes. I have two smaller requests, then the chapter is good to go from my side.
- [ ] Please choose a catchy title. Both Pete and Andreas offer good candidates, e.g., "Look for State Transitions in Temporal Data" or "To summarize dynamic data, consider state transitions"
- [ ] In the paragraph, where you describe the state diagrams ("We next examined how the code

[2016-01-31 22:12] tzimmermsr commented on #94
@theisencr @lauriew I'm not sure if you are done with the revision, since the issue report is not marked as AuthorHasRevised.

The following two of my earlier comments are must fix:
- [x] What is OWASAP?
- [x] Mention Figure 2 when you discuss that you color the nodes red.

The following is a strongly recommended fix:
- [x] The paper puts a lot of focus on "Researchers" in the beginning. This make

[2016-01-31 22:17] tzimmermsr commented on #67
Thanks @pgbovine for the revisions. It's good to go from my side.

[2016-01-31 22:29] tzimmermsr commented on #66
Thanks @maoivo for making the changes. It's good to go from my side.

[2016-01-31 22:52] tzimmermsr commented on #70
Thanks @rrobbes. This looks good to go from my side. One change request though:

Please change

"Software analytics have been shown to be useful for many use cases. Examples are numerous, and many of these are mentioned in this book. Software analytics has also been successfully applied in the industry. Again, the examples are numerous. These examples share one characteristic: they come mostly fro

[2016-01-31 23:01] tzimmermsr commented on #79
Thanks for the revision @tomFr. The chapter is good to go from my side.

I still recommend that you include something about Per's comment in the final version:
- [x] "Another issue that may be worth mentioning is the relation between multiple individual's productivity, i.e. the team or project level. It could benefit the team if one individual does something that lowers his/her individual producti

[2016-01-31 23:07] tzimmermsr commented on #73
Thanks @pruneson46 for the revision. The chapter is good to go from my side. --Tom

[2016-01-31 23:12] crtheisen commented on #94
I went ahead and addressed these comments; I'll leave final author approval to Laurie (or get her blessing in person to flip the switch).

[2016-01-31 23:19] tzimmermsr commented on #84
Thanks @turhanb!

[2016-01-31 23:23] tzimmermsr commented on #85
Thanks @rvprasad !

[2016-01-31 23:30] tzimmermsr commented on #80
Thanks @trevorcarnahan .

How about "Reduce Time to Insight" instead of "Reducing..." for the title? (That said, I'm fine also with keeping the title unchanged.)

The MK production team will figure out the web references.

Thanks,
Tom

[2016-01-31 23:32] tzimmermsr commented on #38
@timm Any updates on the revision?

[2016-02-01 10:51] wagnerst commented on #87
Thanks to all of you for the great feedback! I tried to incorporate most of it. I think (and hope) I addressed all issues of @rrobbes. I also incorporated the intro idea from @timm. But I have not changed the title. I'm not particularly happy with it, but I didn't really like @timm's idea. And I couldn't come up with something better.

[2016-02-01 10:51] #87 closed, assigned to wagnerst

[2016-02-01 22:51] timm commented on #40
@tzimmermsr revised and recommitted. Many cuts (including the name dropping at the top and making #2 shorter). And numerous typo fixes.

[2016-02-01 23:15] timm commented on #38
@tzimmermsr Changed and committed. Typos fixed.

@taoxiease's comment was spot-on; so jiggled the conclusion some to better address his point.

@turhanb  made some good comments too and i used them all

[2016-02-01 23:40] murphygc commented on #41
Addressed @lauriew comment perhaps not as far as Laurie wants the change to go. Hinted in Misinterpreting that even if one checks data early it isn't enough to see more than one perspective. I think this fits in with iterating at the end.

[2016-02-02 23:35] miryung commented on #61
I have addressed Tim's comment and checked in a new version.

[2016-02-03 02:56] hongyujohn commented on #45
ok. I have revised the paper title according to the reviewers' suggestion:
How to Tame Your Online Services

thanks.

[2016-02-03 16:11] alexorso commented on #22
We thank the reviewers for the feedback. We revised the chapter based on the reviewers' comments and also made a few additional changes. Below, we provide details on how we addressed the different comments.

**REVIEW 1:**
- _After reading the whole chapter, it all makes sense, but when during my first read through, I wasn't quite sure what the authors were trying to say after the first paragraph o

[2016-02-03 22:17] tzimmermsr commented on #38
Thanks @timm . All good.

[2016-02-03 22:37] tzimmermsr commented on #68
Thanks @prechelt for the revisions. Looks good to me.

http://gawker.com/5848754/steve-jobs-on-why-he-wore-turtlenecks

[2016-02-03 22:56] tzimmermsr commented on #98
@sdeal Thanks for making the changes. They look good to me.

I'm not sure if I understand the title correctly. Do you intend to say that Visualizations have to be often double-checked? If yes, how about:

Visualizations: It Pays to Double Check

Thanks,
Tom

[2016-02-04 00:53] tzimmermsr commented on #87
Thanks @wagnerst for the revision. It looks good to me.

[2016-02-04 01:04] tzimmermsr commented on #74
Thanks @sback . This looks good.

I wonder if you really need the subtitle, or if you can you can just go with "Structure Your Unstructured Data First!" The tag clouds are just an example to show the value of structured data.

[2016-02-04 13:09] tomFr commented on #79
I integrated the comment from Per and added a sentence on the trade-off between individual and team productivity. Maybe you or Per could briefly check if it addresses the comment sufficiently.

[2016-02-04 23:07] tzimmermsr commented on #79
Thanks @tomFr !

[2016-02-04 23:58] tzimmermsr commented on #89
@JimWhiteheadUCSC Any updates on the revision?

[2016-02-05 00:26] tzimmermsr commented on #40
@timm Can you please clarify in the chapter what you mean as "user". It's an overloaded term and I'd like to avoid any confusion with the "user" who uses the software. When someone thinks of the end-user, the first principle makes little sense.

[2016-02-05 02:59] tzimmermsr commented on #52
I wonder if "Sample Diversity in Software Engineering Research" would be a better title

[2016-02-05 18:56] migod commented on #103
I did a mild rewrite to incorporate pretty much all of the suggestions, including restructuring the "what are the key tasks" section and adding some new references.  Sincere thanks to Peggy and Tom!

[2016-02-06 00:48] tzimmermsr commented on #86
Thank @rvprasad This looks great. I like the changes that you made.

--Tom

[2016-02-07 20:06] tzimmermsr commented on #64
Thanks everyone for the great feedback!

I changed the title to "One Size Does Not Fit All", which reads smoother. (@timm)

@minkull
- I added the "But what if we don't have enough data from within a project in order to create a predictive model?" to the last paragraph
- I replaced the sentence with academics as suggested ("There is much academic research into general models.")
- I dropped the "Wh

[2016-02-07 21:47] tzimmermsr commented on #63
Thanks everyone for the great feedback. I changed the chapter as follows:
- Rewrote the first paragraph to explain open-ended questions (@migod)
- Expanded the analysis section (@migod). Some parts from the preparation phase fit better in the analysis section
- Explained identifiers (@migod)
- Added citation for affinity diagrams (@prechelt)

@timm: The execution phase has something about the time

[2016-02-07 22:01] timm commented on #63
thanks @tzimmermsr : this is good to go.... once we get that photo of a card sort

[2016-02-07 22:03] timm commented on #64
Thanks @tzimmermsr good to go

[2016-02-07 22:07] timm commented on #53
Thanks @meido :+1: Good to go

[2016-02-07 22:13] timm commented on #103
:+1: @migod good to go

[2016-02-07 22:13] #103 closed, assigned to nobody

[2016-02-07 22:14] #53 closed, assigned to nobody

[2016-02-07 22:15] #64 closed, assigned to nobody

[2016-02-07 22:15] timm commented on #86
@tzimmermsr : I'm closing issues where we have gotten to "good to go" to MK. can you do the same here?

[2016-02-07 22:15] #86 closed, assigned to rvprasad

[2016-02-07 22:17] tzimmermsr commented on #63
Working on it now.

From: Tim Menzies [mailto:notifications@github.com]
Sent: Sunday, February 7, 2016 2:01 PM
To: ds4se/chapters chapters@noreply.github.com
Cc: Tom Zimmermann tzimmer@microsoft.com
Subject: Re: [chapters] ./zimmermann/card-sorting.md (#63)

thanks @tzimmermsrhttps://github.com/tzimmermsr : this is good to go.... once we get that photo of a card sort

—
Reply to this email directl

[2016-02-07 22:25] timm commented on #92
:+1: Good to go

[2016-02-07 22:25] #92 closed, assigned to nobody

[2016-02-07 22:28] timm commented on #45
@hongyujohn :+1:  good to go.

[2016-02-07 22:28] #45 closed, assigned to nobody

[2016-02-07 22:30] #90 closed, assigned to taoxiease

[2016-02-07 22:30] timm commented on #105
:+1: @minkull Good to go!

[2016-02-07 22:30] #105 closed, assigned to nobody

[2016-02-07 22:30] #99 closed, assigned to tzimmermsr

[2016-02-07 22:30] #88 closed, assigned to tostrand

[2016-02-07 22:30] #94 closed, assigned to theisencr

[2016-02-07 22:30] #79 closed, assigned to tomFr

[2016-02-07 22:31] #85 closed, assigned to rvprasad

[2016-02-07 22:31] #74 closed, assigned to sback

[2016-02-07 22:31] #67 closed, assigned to pgbovine

[2016-02-07 22:32] #66 closed, assigned to maoivo

[2016-02-07 22:33] #38 closed, assigned to timm

[2016-02-07 22:33] #73 closed, assigned to pruneson46

[2016-02-07 22:34] #68 closed, assigned to prechelt

[2016-02-07 22:34] #84 closed, assigned to turhanb

[2016-02-08 03:23] timm commented on #49
@kimherzig  :+1: good to go!

[2016-02-08 03:23] #49 closed, assigned to nobody

[2016-02-08 03:34] timm commented on #40
@tzimmermsr : please check. "users" is used less. know i say "business problem owners" or "subject matter experts"

[2016-02-08 05:22] alexorso commented on #21
Many thanks to Baishakhi, Gail, and Laurie for their feedback, which made me realize that I was trying to fit too many (sometimes unrelated) concepts into this chapter. I extensively revised the text based on their comments and tried to make it more focused. I hope the different parts are better tied together in this new version.

[2016-02-08 14:30] sdeal commented on #98
What about "Visualize to explore and validate" or "Make visualization part of your analysis process" ?

[2016-02-08 14:51] maleknaz commented on #43
Thanks everyone for the very good feedback.
@timm
- We dropped [6] and replaced the motivation section with better description.
- Yes, we agree that it might be somehow related to QFD. However, the idea is more related to GQM and GQM+.
- We changed the context of the example and described it in more detail to clear the pointed ambiguities.

@hongyujohn
- We changed the description and provided mor

[2016-02-08 14:52] maleknaz commented on #124
Thanks for the very good comments.

@barr
- We changed the example to create more tangible demo. We removed the previous conceptual model and provided one which is more self-descriptive.
- Typos and problems with citations are fixed.

[2016-02-08 15:20] fayola21 opened #135 "goldilockseqn"
![goldilockseqn](https://cloud.githubusercontent.com/assets/5220943/12889513/293d6016-ce77-11e5-80f2-b65cf5e84469.png)

[2016-02-08 18:59] tzimmermsr commented on #98
I like "Make visualization part of your analysis process" more because it doesn’t restrict the purpose of visualization to exploration and validation.

--Tom

From: sdeal [mailto:notifications@github.com]
Sent: Monday, February 8, 2016 6:37 AM
To: ds4se/chapters chapters@noreply.github.com
Cc: Tom Zimmermann tzimmer@microsoft.com
Subject: Re: [chapters] ./stephan_diehl/visualization.md (#98)

What

[2016-02-08 19:41] lauriew commented on #21
@alexorso Thanks Alex, looks good.

[2016-02-08 21:25] lauriew commented on #35
@CaptainEmerson @barik
Thanks for the new version ... I'd still stick with "ask a few friends to take the survey" may sound like nice, informal advice like the tone of the chapter, but may not be the best advice for an expert to give in a book.  The friends really do need to be part of the target population.

[2016-02-08 21:29] #54 closed, assigned to nobody

[2016-02-09 01:05] CaptainEmerson commented on #35
@lauriew  Using a friend, whether in the target population or not, is intended to avoid the "paralysis by analysis" outlined in the prior paragraph. Further, our experience has been that most initial survey bugs aren't domain specific (and thus requiring a reader from the target population), but instead are bonehead mistakes that  you just need a fresh set of eyes for.

[2016-02-11 04:53] timm commented on #50
@margaretstorey :+1: good to go. this one missed the feb10 transfer to the publisher--- it'll go over in the next batch.

[2016-02-12 22:28] JimWhiteheadUCSC commented on #89
@tzimmermsr @pruneson46 Thank you very much for your insightful comments on my chapter, which I took to heart when crafting my revision.

I removed the bug taxonomy section, and will save these for inclusion in a future article (I don't think I have time to create a new chapter for this volume).

I then focused the message on "everyone needs theory".

To that end, I added another short example fro

[2016-02-14 19:48] #124 closed, assigned to nobody

[2016-02-14 19:48] #43 closed, assigned to nobody

[2016-02-14 19:50] timm commented on #98
@tzimmermsr @sdeal

what do i tell the publishers? is this good to go?

[2016-02-14 19:53] timm commented on #40
@tzimmermsr waht do i tell publisher? good to go?

[2016-02-14 19:54] timm commented on #89
@tzimmermsr

what do i tell publisher? good to go?

[2016-02-14 19:55] timm commented on #75
@tzimmermsr

what do i tell publisher? good to go?

[2016-02-14 19:58] timm commented on #35
@lauriew

what do i need to tell publisher? good to go?

[2016-02-14 20:00] timm commented on #55
@lauriew

what do i tell publisher? good to go? note that we can work the figure permission after sending this one to the publisher. and if you want, i can follow that up

[2016-02-14 20:01] timm commented on #28
@lauriew

what should i tell publisher? ok to go?

[2016-02-14 20:38] lauriew commented on #28
Yes

Sent from my iPhone

[2016-02-15 03:19] tzimmermsr commented on #71
@rtholmes Did you have a chance to look at the two small change requests. They should take you only 10-15 minutes and then we can send of your chapter to MK. :-)

Thanks,
Tom

[2016-02-15 03:23] tzimmermsr commented on #98
Good to go. I've updated the title and status in the Perspectives Book Status.

[2016-02-15 03:23] #98 closed, assigned to tzimmermsr

[2016-02-15 03:25] tzimmermsr commented on #40
Good to Go!

[2016-02-15 03:25] #40 closed, assigned to timm

[2016-02-15 03:37] tzimmermsr commented on #89
@JimWhiteheadUCSC I like the changes. :-) The chapter is good to go. I've made a minor fix, please check that it didn't change the meaning.

"Preferential attachment results in simulated software changes being made to larger files more commonly than smaller ones, in the software version of the rich getting richer"
=>
"Preferential attachment results in simulated software changes being made to larg

[2016-02-15 03:37] #89 closed, assigned to JimWhiteheadUCSC

[2016-02-15 03:47] tzimmermsr commented on #75
@timm This is good to go. I've updated status + title in the Perspective Book Status.

Thanks @siravegas @nataliajuristo for the revision.

[2016-02-15 03:47] #75 closed, assigned to siravegas

[2016-02-15 17:08] JimWhiteheadUCSC commented on #89
@tzimmermsr -- I like this change, thanks!

[2016-02-15 19:42] rtholmes commented on #71
@tzimmermsr; I missed the original notification. Changes made!

[2016-02-15 19:45] rtholmes commented on #71
See https://github.com/ds4se/chapters/commit/3dfb068c4d362ad56947b27c2aa01b31bdb47baf

[2016-02-15 21:50] tzimmermsr commented on #71
Thanks @rtholmes . This is good to go.

@timm I've updated the Perspective Book Status with new title and status.

[2016-02-15 21:50] #71 closed, assigned to rtholmes

[2016-02-15 22:06] lauriew commented on #55
It is good to go.  The note was meant to indicate that she had gotten permission.  The thread of issues on the article includes a cut and paste that she got the permission.

---

Laurie Williams, PhD
North Carolina State University
Associate Department Head and Professor, Department of Computer Science
890 Oval Drive, Room 3272
Campus Box 8206
Raleigh, NC 27695-8206

http://collaboration.csc.ncsu.

[2016-02-16 02:46] tzimmermsr commented on #63
@timm I've uploaded the picture. Please mark as Good to Go.

[2016-03-02 07:07] obaysal commented on #104
Thank you @margaretstorey and @kimherzig for your insightful reviews! I have revised the chapter based on your comments. I have added a figure illustrating developer dashboards, elaborated more on what issue trackers and situational awareness mean, made the analogy better (thank you @kimherzig for your suggestions on that), added "developer dashboards" to the title of the chapter, added a para abo

[2016-03-02 16:28] timm commented on #104
@obaysal
can we change title to "Issue Tracking: Many Choices, Nothing Great"

so you first sub-heading in the paper would be "need for personalization"

?

[2016-03-02 17:30] obaysal commented on #104
@timm I am not sure if your title captures the insight of the chapter well. May be we can stick with the old one then - "A Tailored Suit: The Big Opportunity in Personalizing Issue Tracking".

[2016-03-02 18:31] timm commented on #104
Done!

[2016-03-02 18:31] #104 closed, assigned to nobody

[2016-03-02 19:17] #65 closed, assigned to nobody

[2016-03-27 19:37] #133 closed, assigned to timm

[2017-02-18 13:16] #35 closed, assigned to barik

[2017-05-21 08:01] lusy opened #137 "Make a general overview/table of contents"
Hi, this is a really cool project! However, I'd really like to see some kind of a table of contents pointing to the single chapters. Rights now the only option I have when I'm looking for something or want to know what topics are covered, is to click on every single folder in the code folder in order to find out what is in there. And there are many of them and the names don't reflect the contents